<
<div class="content-holder">
  <div class="w100">
    <% if current_user.job_seeker? %>
        <% @job_seeker = current_user %>
        <div class="dashboard-content-left">
          <%= render :partial => "job_seeker/job_seeker", :locals => { :job_seeker => @job_seeker } %>
        </div>
    <% else %>
        <% @employer = current_user %>
        <div class="dashboard-content-left">
          <%= render :partial => "employer/employer", :locals => { :employer => @employer } %>
        </div>
    <% end %>


    <div class="dashboard-content-right">

      <div class="w100">

        <% unless @message.blank? %>

            <div class="check-mail">
              <div class="sender">
                <strong> <%= User.find_by_id(@message.sender_id).name %>  </strong>  <%= User.find_by_id(@message.sender_id).email %>
              </div>
              <div class="time-info"> <%= time_ago_in_words(@message.created_at) %></div>
              <!--time info ends-->
              <div class="subject"><strong>Subject:</strong>  <%= @message.subject %></div>
              <div class="mail-body">
                <br>
                <%= raw(@message.body) %>

              </div>
              <!--mail body ends-->
            </div>
            <!--check mail ends-->

            </div>
        <% end %>

        </div>
  </div>
</div>

