<div class="reg-tab-holder">
  <div class="reg-tab-holder-new tab-act">
    <div class="reg-left-tab-holder"></div>
    <div class="reg-mid-tab-holder">My Account</div>
    <div class="reg-right-tab-holder"></div>
  </div>
</div>

<div class="basic-info mtop10">
  <h1>Basic <span class="red">Information</span></h1>
  <%= image_tag asset_path 'basic-info-bot-bar.png' %>
</div>

<div class="w100">
  <div class="profile-left-div">
    <div class="profile-input mtop20">
      <label>First Name</label>
      <%= f.text_field :first_name %>
    </div>
    <div class="profile-input mtop20">
      <label>Phone</label>
      <%= f.text_field :phone %>
    </div>
    <div class="profile-input mtop20">
      <label>Zip Code</label>
      <%= f.text_field :zip_code %>
    </div>
 <div class="profile-input mtop20">
      <label>State</label>

      <div id="regions">
        <%= render :partial => "shared/regions" %>
      </div>
    </div>
    <div class="profile-input mtop20">
      <label>City</label>

      <div id="cities">
        <%= render :partial => "shared/cities" %>
      </div>
    </div>

  </div>
  <div class="profile-right-div">
    <div class="profile-input mtop20">
      <label>Last Name</label>
      <%= f.text_field :last_name %>
    </div>
    <div class="profile-input mtop20">
      <label>Address</label>
      <%= f.text_field :address %>
    </div>

     <div class="profile-input mtop20">
      <label>Country</label>

      <div id="country">
        <%= render :partial => "shared/countries" %>
      </div>
    </div>

    <div class="profile-input mtop20">
      <label>Your Picture</label>
      <%= fields_for :asset do |asset| %>
          <%= asset.file_field :photo %>
      <% end %>
    </div>
  </div>
</div>

<div class="basic-info mtop40">
  <h1>Company<span class="red">Information</span></h1>
  <%= image_tag asset_path 'basic-info-bot-bar.png' %>
</div>

<div class="w100">

  <%= fields_for :company_information do |ed| %>
      <div class="profile-left-div">
        <div class="profile-input mtop20">
          <label>Company Name</label>
          <%= ed.text_field :name %>
        </div>

        <div class="profile-input mtop20">
          <label>Phone</label>
          <%= ed.text_field :phone %>
        </div>
      </div>
      <div class="profile-right-div">

        <div class="profile-input mtop20">
          <label>Fax</label>
         <%= ed.text_field :fax %>
        </div>

        <div class="profile-input mtop20">
          <label>Website</label>
          <%= ed.text_field :web_site %>
        </div>
      </div>

      <div class="profile-left-div">
        <div class="profile-input mtop20">
          <label>Email</label>
          <%= ed.text_field :email %>
        </div>


        <div class="profile-input mtop20">
          <label>Country</label>

          <div id="country_org">
            <%= render :partial => "shared/countries" %>
          </div>
        </div>
        <div class="profile-input mtop20">
          <label>City</label>

          <div id="cities_org">
            <%= render :partial => "shared/cities" %>
          </div>
        </div>

      </div>
      <div class="profile-right-div">
        <div class="profile-input mtop20">
          <label>Address</label>
          <%= ed.text_field :address %>
        </div>

        <div class="profile-input mtop20">
          <label>State</label>
           <div id="regions_org">
             <%= render :partial => "shared/regions" %>
          </div>
        </div>
        <div class="profile-input mtop20">
      <label> Picture</label>
      <%= fields_for :org_photo do |org| %>
          <%= org.file_field :photo %>
      <% end %>
    </div>
  </div>

        </div>

<% end %>
</div>


