<div class="reg-tab-holder">
  <div class="reg-tab-holder-new tab-act">
    <div class="reg-left-tab-holder"></div>
    <div class="reg-mid-tab-holder">My Account</div>
    <div class="reg-right-tab-holder"></div>
  </div>
</div>

<div class="basic-info mtop10">
  <h1>Basic <span class="red">Information</span></h1>
  <%= image_tag asset_path 'basic-info-bot-bar.png' %>
</div>

<div class="w100">
  <div class="profile-left-div">
    <div class="profile-input mtop20">
      <label>First Name</label>
      <%= f.text_field :first_name %>
    </div>
    <div class="profile-input mtop20">
      <label>Phone</label>
      <%= f.text_field :phone %>
    </div>
     <div class="profile-input mtop20">
      <label>Zip Code</label>
      <%= f.text_field :zip_code %>
    </div>
     <div class="profile-input mtop20">
      <label>State</label>

      <div id="regions">
        <%= render :partial => "shared/regions" %>
      </div>
    </div>

    <div class="profile-input mtop20">
      <label>City</label>

      <div id="cities">
        <%= render :partial => "shared/cities" %>
      </div>
    </div>

  </div>
  <div class="profile-right-div">
    <div class="profile-input mtop20">
      <label>Last Name</label>
      <%= f.text_field :last_name %>
    </div>
    <div class="profile-input mtop20">
      <label>Address</label>
      <%= f.text_field :address %>
    </div>
      <div class="profile-input mtop20">
      <label>Country</label>

      <div id="country">
        <%= render :partial => "shared/countries" %>
      </div>
    </div>
     <div class="profile-input mtop20">
      <label>Your Picture</label>
      <%= fields_for :asset do |asset| %>
          <%= asset.file_field :photo %>
      <% end %>
    </div>
  </div>
</div>

<div class="basic-info mtop40">
  <h1>Educational <span class="red">Information</span></h1>
  <%= image_tag asset_path 'basic-info-bot-bar.png' %>
</div>

<div class="w100">

  <%= fields_for :education_info do |ed| %>
      <div class="profile-left-div">
        <div class="profile-input mtop20">
          <label>Degree Level</label>
            <%= ed.text_field :degree_level %>
        </div>
        <div class="profile-input mtop20">
          <label>Major Subject</label>
             <%= ed.text_field :major_subject %>
        </div>
      </div>
      <div class="profile-right-div">
        <div class="profile-input mtop20">
          <label>Institution</label>
           <%= ed.text_field :institute %>
          </div>
        <div class="profile-input mtop20">
          <label>Year</label>
          <%= ed.text_field :year %>
        </div>
      </div>
  <% end %>
</div>
<div class="basic-info mtop40">
  <h1>Professional <span class="red">Information</span></h1>
  <%= image_tag asset_path 'basic-info-bot-bar.png' %>

</div>

<div class="w100">
  <%= fields_for :job_info do |jd| %>
      <div class="profile-left-div">
        <div class="profile-input mtop20">
          <label>Professional Industry</label>
          <%= jd.text_field :profession_industry %>
         </div>
        <div class="profile-input mtop20">
          <label>Category </label>
                  <%= select_tag :category_id, options_from_collection_for_select(Category.all, "id", "name"), :class =>"reg-slt-div-new" %>

        </div>
        <div class="profile-input mtop20">
          <label>Recent Job Title</label>
          <%= jd.text_field :job_title %>
         </div>
        <div class="profile-input mtop20">
          <label>Upload Your CV</label>
        <%= fields_for :resume do |resume| %>
          <%= resume.file_field :photo %>
      <% end %>
        </div>


      </div>
      <div class="profile-right-div">
        <div class="profile-input mtop20">
          <label>Total Professional Experience</label>
          <%= jd.text_field :profession_experience %>
         </div>
        <div class="profile-input mtop20">
          <label>Career Level</label>
          <%= jd.text_field :career_level %>
         </div>
        <div class="profile-input mtop20">
          <label>Company Name</label>
          <%= jd.text_field :company_name %>

        </div>
      </div>
  <% end %>
</div>