<%= render :partial => "shared/top_search_ box" %>
<div class="content-holder">
	<% if current_user.job_seeker? %>
		<%= render :partial => "job_seeker_form" %>
	<% elsif current_user.employer? %>
		<%= form_for @profile, :url =>{ :action => 'update_employer', :controller => 'profiles', :id => @profile.id, :a_id => @asset, :comp_id =>@company_information.id, :org_id => @org_photo}, :html =>{ :id => "create_profile_form", :onsubmit =>true, :multipart => true } do |f| %>
			<%= render :partial => "employer_form", :locals => { :f => f } %>
			<div class="save-button-new basic-save"> <%= f.submit t('button.save') %></div>
		<% end %>
	<% end %>
</div>
