<%= render :partial => "shared/top_search_ box" %>
<div class="content-holder">

  <div class="reg-tab-holder">
    <div class="reg-tab-holder-new tab-act-two" id="account">
      <div class="reg-left-tab-holder"></div>
      <div class="reg-mid-tab-holder" onclick='show_account("<%=@profile.id %>",this)'><%= t('home_my_account') %></div>
      <div class="reg-right-tab-holder"></div>
    </div>
    <div class="reg-tab-holder-new tab-act" id="profile">
      <div class="reg-left-tab-holder"></div>
      <div class="reg-mid-tab-holder" onclick='show_profile("<%=@profile.id %>", this)'><%= t('profile_profile') %></div>
      <div class="reg-right-tab-holder"></div>
    </div>
  </div>

  <div class="basic-info mtop10">
    <h1><%= t('profile_my') %> <span class="red"> <%= t('profile_profile') %></span></h1>
    <% unless @profile.blank? %>
        <%= image_tag asset_path 'basic-info-bot-bar.png' %>
        </div>

        <div class="w100">
          <div class="profile_details">
            <div class="account_details">
              <%= render :partial => "profiles/account", :locals => { :profile => @profile } %>
            </div>


          </div>

          <div class="profile-cont">
            <div class="profile-name-content">
            </div>
            <div class="profile-edit"><%= link_to t('link_to.edit'), edit_profile_path(@profile) %> </div>
            <% if current_user.job_seeker? %>
                <div class="profile-edit"><%= link_to t('link_to.done'), :controller => "job_seeker", :action => "dashboard", :id => current_user.id %> </div>
            <% elsif current_user.employer? %>
                <div class="profile-edit"><%= link_to t('link_to.done'), :controller => "employer", :action => "dashboard", :id => current_user.id %> </div>
            <% end %>
          </div>

          <div class="red-btn-new"><a href="#"><%= t('profile_upload') %></a></div>
    <% end %>
    </div>


    </div>

<script type="text/javascript">
    function show_profile(profile_id, obj) {


        $.ajax({
            context:this,
            url:'/profiles/show_profile?id=' + profile_id,
            type:"GET",
            data:$(this).serialize(),
            dataType:"html",
            success:function (response) {
                $(".profile_details").html(response);

            }
        });
        return false;
    }
    function show_account(profile_id, obj) {
        $.ajax({
            context:this,
            url:'/profiles/show_account?id=' + profile_id,
            type:"GET",
            data:$(this).serialize(),
            dataType:"html",
            success:function (response) {
                $(".profile_details").html(response);

            }
        });
        return false;

    }

</script>




