<div class="dashboard-content-right">
  <div class="w100">
    <div class="dashboard-post-profile-btn">
    </div>
  </div>
  <!--dashboard-post-profile-btn ends-->
  <div class="dashboard-content">
    <h1><%= t('job') %></h1>
    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <div class="btn-mid-holder"><%= link_to t('Employer.employer_create_job'), new_job_path(:eid => @employer), :class => "create-event", :style=>" color: #FFFFFF;text-decoration: none;" %></div>
    <p><br/>
    </p>

    <h1><%= t('Employer.employer')%> <span class="red"> <%= t('job') %> </span></h1>
    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <% unless @jobs.blank? %>
        <p><%= t('Employer.employer_total_jobs')%> <%= @jobs.count %></p>
        <table>
          <tr>
            <th><%= t('Employer.employer_job_name')%></th>
            <th><%= t('Employer.employer_actions')%></th>
          </tr>

        <% @jobs.each do |job| %>

              <%#= image_tag  %>
              <tr>
                <td><%= link_to job.name , my_job_detail_employer_index_path(:id =>job), :class => "job-details" %></td>
                <td><%= link_to "Job Edit", edit_jobs_path(:id =>job.id)%></td>
                 <td><%= link_to "Delete", delete_job_employer_index_path(:id => job.id, :em_id => @employer), :class =>"delete-job" %>
                </td>
              </tr>
             <%end%>
            </table>
        <% else %>
           <p> <%= t('Employer.employer_no_jobs')%></p>
        <% end %>
  </div>
</div>

<script type="text/javascript">


    $("a.delete-job").click(function() {
        var x = window.confirm("Are you sure You want to Delete this Job?")

        if (x == true) {
            $.ajax({
                context: this,
                url: $(this).attr("href"),
                type: "GET",
                data: $(this).serialize(),
                dataType: "json",
                success: function(response) {
                    return $(".dashboard-content-right").html(response.html);
                }

            });

            return false;
        }
        else {
            return false;
        }
    });


    $("a.job-details").click(function() {


        $.ajax({
            context: this,
            url: $(this).attr("href"),
            type: "GET",
            data: $(this).serialize(),
            dataType: "json",
            success: function(response) {
                return $(".dashboard-content-right").html(response.html);
            }

        });

        return false;

    });

</script>