<div class="dashboard-content-right">
  <div class="w100">
    <div class="dashboard-post-profile-btn">


    </div>
  </div>
  <!--dashboard-post-profile-btn ends-->
  <div class="dashboard-content">
    <h1>Events</h1>

    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <div class="btn-mid-holder"><%= link_to " Create New Event", new_event_employer_index_path(:eid => @employer), :class => "create-event", :style=>" color: #FFFFFF;text-decoration: none;" %></div>


    <p><br/>


    </p>

    <h1>My<span class="red"> Events</span></h1>

    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <% unless @employer.events.blank? %>
        <p>Total Number of Events <%= @employer.events.count %></p>
        <% @employer.events.each do |event| %>
            <div class="event-image">
                <%= image_tag profile_image.photo.url %>
              <label>Event Name</label> <%= event.name %>
              <br/>
              <label>Event Description</label> <%= event.description %>
              <br/>
              <label>Start Time</label> <%= event.time_of_start.strftime("%d-%m-%Y at %I:%M%p") %>
              <br/>
              <label>End Time</label><%= event.time_of_end.strftime("%d-%m-%Y at %I:%M%p") %>
              <br/><br/>
            </div>
        <% end %>
        <a href="#">see all</a>
    <% end %>

  </div>
</div>


<script type="text/javascript">


    $("a.create-event").click(function() {
        $.ajax({
            context: this,
            url: $(this).attr("href"),
            type: "GET",
            data: $(this).serialize(),
            dataType: "json",
            success: function(response) {
                return $(".dashboard-content-right").html(response.html);
            }
        });
        return false;
    });


</script>