<div class="dashboard-right-content">

  <h1><%= t('Employer.employer_job_details') %> </h1>

  <p><%= @job.description %> </p>

  <%= image_tag asset_path 'dashboard-botom-line.png' %>

  <p><br/>
  </p>

  <h1><%= t('Employer.employer_my') %> <span class="red"> <%= t('job') %></span></h1>
  <%= image_tag asset_path 'dashboard-botom-line.png' %>
  <div class="dashboard-mid">
    <h1>Results Information</h1>
    <% unless @applied_jobs.blank? %>
        <div class="result-contents">
          <p><%= t('Employer.total_applications') %> <%= @applied_jobs.count %></p>


        </div>
        <!--result contents ends-->
        <div class="result-detail">
          <% @applied_jobs.each do |job_app| %>

              <div class="detail-new">
                <div class="dashboard-image-new-one">
                  <% unless pro_image(job_app).blank? %>

                      <%= image_tag pro_image(job_app).photo.url %>
                  <% else %>
                      <%= image_tag asset_path "dashboard-img.png" %>
                  <% end %>
                </div>

                <div class="detail-head"><%= job_app.user.profile.full_name %>
                  <%= link_to "View CV", view_cv_employer_index_path(:id => job_app.user_id), :class => "view_cv" %>
                  | <%= link_to "Download", download_employer_index_path(:id => job_app.id, :cv_id => job_app.cv_id) %>|
                  <%= link_to "Contact", "javascript:void(0)", :onclick => "contact_user('#{job_app.id}')" %>
                </div>
                <div class="detail-buttons" style="float: right; width: 200px;">

                  <div class="select-button">
                    <div class="left-holder"></div>
                    <div class="mid-holder" id="decline_cv" onclick="decline_cv('<%=job_app.id%>')">
                      <label style="color:#ffffff;  line-height: 34px;">Decline Candidate</label>
                    </div>

                    <div class="right-holder"></div>
                  </div>
                </div>


                <!--select button ends-->
                <div class="detail-info">
                  <div id="applicant_education">
                    <label>Education Information:</label>
                    <%= job_app.user.profile.education_informations.first.institute.blank? ? job_app.user.profile.education_informations.first.institute_name : job_app.user.profile.education_informations.first.institute.name %>
                  </div>

                  <div id="applicant_profession">
                    <label>Professional Information:</label>
                    <%= job_app.user.profile.profession_informations.first.job_title %>
                  </div>
                  <div id="applicant_skills">
                    <label>Skills:</label>
                    <%= job_app.user.profile.skill %>
                  </div>
                </div>

              </div>
          <% end %>

        </div>
        <!--results ends-->
        </div>
        <!--dashboard mid ends-->
        <div class="dashboard-right-info" id="right_panel">
        </div>
        <div class="dashboard-right-info" id="check_panel">
          <%#= render :partial => "employer/right_panel", :locals => { :collections => @collections } %>
        </div>
    <% else %>
        <div class="result-contents">
          <h1> Currently None Applicant</h1>


        </div>
    <% end %>
    </div>


<script language="JavaScript">

    function contact_user(job_application) {

        url = "/employer/contact_information?id=" + job_application;
        $.ajax({
            context:this,
            url:url,
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                $(".dashboard-content-right").html(response.html);
            }
        });
        return false;


    }


    $('a.view_cv').click(function () {
        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                return $(".dashboard-content-right").html(response.html);
            }

        });

        return false;


    });

    function decline_cv(job_applicant_id) {

        url = "/employer/decline_applicant?id=" + job_applicant_id;
        $.ajax({
            context:this,
            url:url,
            type:"GET",
            data:$(this).serialize(),
            dataType:"html",
            success:function (response) {
//                $(".dashboard-content-right").html(response.html);
                alert("The candidate has been removed");

            }
        });
        return false;

    }

</script>