<div class="dashboard-content-right">
  <div class="w100">
    <div class="dashboard-post-profile-btn">
    </div>
  </div>
  <!--dashboard-post-profile-btn ends-->
  <div class="dashboard-content">
    <h1><%= t('Employer.employer_job_details') %> </h1>

    <p><%= @job.description %> </p>

    <%= image_tag asset_path 'dashboard-botom-line.png' %>

    <p><br/>
    </p>

    <h1><%= t('Employer.employer_my')%> <span class="red"> <%= t('job')%></span></h1>
    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <% unless @applied_jobs.blank? %>
        <p><%= t('Employer.total_applications')%> <%= @applied_jobs.count %></p>

        <table>
          <tr>
            <th><%= t('Employer.application_name')%></th>
            <th><%= t('profiles.first_name')%></th>
            <th><%= t('profiles.last_name')%></th>
            <th><%= t('Employer.application_date')%></th>
            <th><%= t('Employer.application_contact')%></th>
            <th><%= t('Employer.application_download')%></th>
          </tr>
          <% @applied_jobs.each do |job_app| %>
              <tr>
                <td><%= job_app.user.profile.full_name %></td>
                <td><%= job_app.user.profile.first_name %></td>
                <td><%= job_app.user.profile.last_name %></td>
                <td><%= job_app.created_at.strftime('%Y-%m-%d') %></td>
                <td id="contact" onclick="contact_user('<%=job_app.id %>')" style="color: blue;">Contact</td>
                                     <%unless job_app.cv_id.blank?%>
                <td id="Download"><%= link_to "Download", download_employer_index_path(:id => job_app.cv_id) %></td>
                      <%end%>
              </tr>
          <% end %>
        </table>


    <% end %>
  </div>
</div>


<script language="JavaScript">

    function contact_user(job_application) {

        url = "/employer/contact_information?id=" + job_application;
        $.ajax({
            context: this,
            url: url,
            type: "GET",
            data: $(this).serialize(),
            dataType: "json",
            success: function(response) {
                $(".dashboard-content-right").html(response.html);
            }
        });
        return false;


    }

</script>