<div class="dashboard-mid_new">
  <div class="mid-top-info">
  </div>
  <!--mid top info ends-->
  <h2><%= t('Employer.search_resume') %></h2>

  <p><%= @profile.full_name %> CV</p>

  <div class="exp-detail">
    <% unless @profile.profession_informations.blank? %>
        <h2><%= t('profile_profession_information') %></h2>
        <% @profile.profession_informations.each do |pr| %>
            <div class="mid-content-detail">
              <div class="left-2"></div>
              <div class="mid-2">
                <%= pr.job_title %>
                <%= pr.profession_experience %>
                <%= pr.category.name %>

              </div>
              <div class="right-2"></div>
            </div>
        <% end %>
    <% end %>
  </div>
  <div class="exp-detail">
    <% unless @profile.education_informations.blank? %>
        <h2><%= t('profile_edu_information') %></h2>
        <% @profile.education_informations.each do |ed| %>
            <div class="mid-content-detail">
              <div class="left-2"></div>
              <div class="mid-2">
                <%= ed.major_subject %>
                <%= ed.institute.blank? ? ed.institute_name : ed.institute.name %>
              </div>
              <div class="right-2"></div>
            </div>
        <% end %>
    <% end %>
  </div>


  <!--mid content detail ends-->
</div><!--dashboard mid ends-->
<div class="dashboard-right-info_new">
  <h1><%= t('Employer.search_result') %></h1>

  <div class="clear"></div>
  <div class="select-button" style="margin-top:10px;">
    <div class="left-holder"></div>
    <div class="mid-holder" onclick="insert_user('<%= @profile.id %>')"><%= t('Employer.search_select') %></div>
    <div class="right-holder"></div>
  </div>
  <!--select button ends-->

</div>


<script type="text/javascript">

    function insert_user(profile_id) {
        url = "/employer/add_search_result?id=" + profile_id;
        $.ajax({
            context:this,
            url:url,
            type:"GET",
            data:$(this).serialize(),
            dataType:"html",
            success:function (response) {
                //                $(".dashboard-content-right").html(response.html);
                if (response == "ok") {

                }
                else {
                    document.location.href = "/employer/employer_packages"
                }

            }
        });
        return false;


    }

</script>












