<div class="profile_contents" style="width: 795px;">
  <div class="content_mid">
    <div class="dashboard-image-new-one">
      <% if pro_image(@profile) %>
          <%= image_tag pro_image(@profile).photo.url %>
      <% else %>
          <%= image_tag asset_path "dashboard-img.png" %>
      <% end %>
    </div>
    <!--user_img ends-->
    <div class="head_text">
      <h2><%= @profile.full_name %></h2>

      <p><%= @profile.full_address %></p>
    </div>
    <!--head_text ends-->
    <div class="head_text">
      <% unless @profile.profession_informations.blank? %>
          <h2><%= t('profile_profession_information') %></h2>
          <% @profile.profession_informations.each do |pr| %>
              <div class="text_area">
                <div id="job">
                  <%= t('profile_job_title') %> :
                  <%= pr.job_title %>
                </div>
                <div id="profession">
                  <%= t('profile_profession_experience') %>:
                  <%= pr.profession_experience %>
                </div>
                <div id="category">
                  <%= t('profile_category') %>:
                  <%= pr.category.name %>
                </div>
              </div>
          <% end %>
      <% end %>
      <!--text_area ends-->
      <% unless @profile.education_informations.blank? %>
          <h2><%= t('profile_edu_information') %></h2>
          <% @profile.education_informations.each do |ed| %>
              <div class="text_area">
                <div id="major">
                  <%= t('profile_major_subject') %>:
                  <%= ed.major_subject %>
                </div>
                <div id="institute">
                  <%= t('profile_institute') %>:
                  <%= ed.institute.blank? ? ed.institute_name : ed.institute.name %>
                </div>
              </div>
          <% end %>
      <% end %>
      <!--text_area ends-->
    </div>
    <!--head_text ends-->
  </div>
  <!--content_mid ends-->
  <div class="content_right">
    <div class="select_btn">
      <div class="select_left_img"></div>
      <div class="select_mid_img" onclick="insert_user('<%= @profile.id %>')">
        <a href="#"><%= t('Employer.search_select') %></a></div>
      <div class="select_right_img"></div>
    </div>

  </div>
  <!--content_right ends-->
</div><!--profile_contents ends-->


<script type="text/javascript">

    function insert_user(profile_id) {
    <%  if !@applied_jobs.select {|f| f["user_id"] > @profile.user_id }%>
        url = "/employer/add_search_result?id=" + profile_id;
        $.ajax({
            context:this,
            url:url,
            type:"GET",
            data:$(this).serialize(),
            dataType:"html",
            success:function (response) {
                //                $(".dashboard-content-right").html(response.html);
                if (response == "ok") {

                }
                else {
                    document.location.href = "/employer/employer_packages"
                }

            }
        });
        return false;
    <%end%>

    }

</script>












