<div class="content-holder">
  <div class="basic-info mtop10">
    <div class="reg-tab-holder">
      <div class="reg-tab-holder-new tab-act">
        <div class="reg-left-tab-holder"></div>
        <div class="reg-mid-tab-holder"><%= link_to t("Employer.application_home") %></div>
        <div class="reg-right-tab-holder"></div>
      </div>

      <div class="reg-tab-holder-new">
        <div class="reg-left-tab-holder"></div>
        <div class="reg-mid-tab-holder"><%= link_to t("Employer.application_jobs"), employer_jobs_employer_index_path(:edi => @employer), :class => "employer-jobs" %></div>
        <div class="reg-right-tab-holder"></div>
      </div>
      <div class="reg-tab-holder-new">
        <div class="reg-left-tab-holder"></div>
        <div class="reg-mid-tab-holder"><%= link_to t("Employer.application_theses"), my_theses_employer_index_path(:id => @employer), :class => "thesis_link" %></div>
        <div class="reg-right-tab-holder"></div>
      </div>
      <div class="reg-tab-holder-new">
        <div class="reg-left-tab-holder"></div>
        <div class="reg-mid-tab-holder"><%= link_to t("Employer.application_projects"), my_projects_projects_path(:id => @job_seeker), :class => "project_path" %></div>
        <div class="reg-right-tab-holder"></div>
      </div>


    </div>

    <h1><%= t('Employer.employer') %><span class="red"> <%= t('Employer.dashboard') %></span></h1>
    <%= image_tag asset_path 'basic-info-bot-bar.png' %>

  </div>
  <!--9-1-2012 add touseef ahmad-->
  <% unless @employer.blank? %>

      <div class="dashboard-left">
        <div class="dashboard-info-image">
          <div class="dashboard-image">
            <% if @employer.profile.present? %>

                <% if profile_image != false %>
                    <%= image_tag profile_image.photo.url %>
                <% else %>
                    <%= image_tag asset_path "dashboard-img.png" %>
                <% end %>
                <h1> <%= @employer.profile.full_name %></h1>
            <% else %>
                <h1>  <%= @employer.name %> </h1>
            <% end %>
          </div>
        </div>
        <!--dashboard-info-image ends-->

      </div>

      <!--dashboard-info-image ends-->
      <div class="dashboard-content-right">
        <div class="w100">
          <div class="dashboard-post-profile-btn">

            <%= link_to image_tag(asset_path 'Post-An-Ad.png'), new_job_path(), :class => "profile-check" %>
            <%= link_to image_tag(asset_path 'search-profile.png'), search_job_seeker_employer_index_path(:id => @employer), :class => "job_seeker_search" %>

          </div>
        </div>
        <!--dashboard-post-profile-btn ends-->
        <div class="dashboard-content">
          <h1><%= t('Employer.dashboard') %></h1>

          <%= image_tag asset_path 'dashboard-botom-line.png' %>
          <p><b>Welcome Future Cadre Businesses</b></p>

          <p><br/>

            <br/>
            <br/>
            <br/>

          </p>

          <h1>My<span class="red"> Ads</span></h1>

          <%= image_tag asset_path 'dashboard-botom-line.png' %>
          <p></p>

          <!--  <a href="#">see all</a>  -->

          <h1><%= t('Employer.employer_my') %><span class="red"> <%= t('Employer.employer_statistic') %></span></h1>

          <%= image_tag asset_path 'dashboard-botom-line.png' %>
          <% unless @employer.created_jobs.blank? %>
              <p><label><%= t('Employer.employer_total_jobs') %></label> <%= @employer.created_jobs.count %><br/>
                <label><%= t('Employer.employer_last_job') %></label> <%= @employer.created_jobs.last.created_at.strftime("%d-%m-%Y") %>
          <% else %>
              <%= t('Employer.employer_no_jobs')%>
          <% end %>
          <% unless @employer.created_projects.blank? %>
              <p><label><%= t('Employer.employer_total_projects') %> </label> <%= @employer.created_projects.count %><br/>
                <label><%= t('Employer.employer_last_project') %></label> <%= @employer.created_projects.last.created_at.strftime("%d-%m-%Y") %>
          <% else %>
              <%= t('Employer.employer_no_projects') %>
          <% end %>
          <% unless @employer.created_theses.blank? %>
              <p><label><%= t('Employer.employer_total_thesis') %> </label> <%= @employer.created_theses.count %><br/>
                <label><%= t('Employer.employer_last_thesis') %></label> <%= @employer.created_theses.last.created_at.strftime("%d-%m-%Y") %>
          <% else %>
              <%= t('Employer.employer_no_thesis') %>
          <% end %>

          <div class="buttons w100">

            <!--   <div class="btn-left-holder"></div>
           <div class="btn-mid-holder">0 profile (s) (s) selected</div>
           <div class="btn-right-holder"></div>
           <div class="btn-left-holder"></div>
           <div class="btn-mid-holder">0 profile (s) contacted (s)</div>
           <div class="btn-right-holder"></div>-->

          </div>
          <!--  <a href="#">see all</a> -->

          <h1><%= t('Employer.employer_my')%><span class="red"><%= t('Employer.employer_subscription')%></span></h1>
          <%= image_tag asset_path 'dashboard-botom-line.png' %>
          <p><label><%= t('Employer.employer_joined_groups')%></label> <%= @employer.groups.count %><br/>

          <p><label><%= t('Employer.employer_joined_projects')%></label> <%= @employer.projects.count %><br/>


          <p>Future Cadre is free and without obligation until January 31, 2012. Enjoy!<br/>
        </div>
      </div>
      <!--dashboard-content-right ends-->

  <% end %>
</div>

<script type="text/javascript">
    $("a.event-holder").click(function () {

        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                return $(".dashboard-content-right").html(response.html);
            }
        });
        return false;

    });
    $("a.employer-jobs").click(function () {

        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                return $(".dashboard-content-right").html(response.html);
            }
        });
        return false;

    });

    $("a.thesis_link").click(function () {

        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                return $(".dashboard-content-right").html(response.html);
            }
        });
        return false;

    });

    $("a.job_seeker_search").click(function () {

        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                return $(".dashboard-content-right").html(response.html);
            }
        });
        return false;
    });
    $("a.project_path").click(function () {

        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                return $(".dashboard-content-right").html(response.html);
            }
        });
        return false;

    });


</script>


