<div class="content-holder">
  <div class="basic-info mtop10">
    <div class="reg-tab-holder">
      <div class="reg-tab-holder-new tab-act">
        <div class="reg-left-tab-holder"></div>
        <div class="reg-mid-tab-holder"><%= link_to "Home" %></div>
        <div class="reg-right-tab-holder"></div>
      </div>

      <div class="reg-tab-holder-new">
        <div class="reg-left-tab-holder"></div>
        <div class="reg-mid-tab-holder"><%= link_to "My Account" %></div>
        <div class="reg-right-tab-holder"></div>
      </div>
      <div class="reg-tab-holder-new">
        <div class="reg-left-tab-holder"></div>
        <div class="reg-mid-tab-holder"><%= link_to "My Jobs", employer_jobs_employer_index_path %></div>

        <div class="reg-right-tab-holder"></div>
      </div>
      <div class="reg-tab-holder-new">
        <div class="reg-left-tab-holder"></div>
        <div class="reg-mid-tab-holder">Msg box</div>
        <div class="reg-right-tab-holder"></div>
      </div>

    </div>

    <h1>Employer<span class="red"> Dashboard</span></h1>
    <%= image_tag asset_path 'basic-info-bot-bar.png' %>

  </div>
  <!--9-1-2012 add touseef ahmad-->
  <% unless @employer.blank? %>

      <div class="dashboard-left">
        <div class="dashboard-info-image">
          <div class="dashboard-image">
            <% if @employer.profile.present? %>

                <%= image_tag profile_image.photo.url %>
                <h1> <%= @employer.profile.full_name %></h1>
            <% else %>
                <h1>  <%= @employer.name %> </h1>

                <p>Ajouter votre logo pour qu'il soit visible dans vos annonces.</p>

            <% end %>
          </div>
        </div>
        <!--dashboard-info-image ends-->
        <div class="btn-mid-holder"><%= link_to "Events", event_employer_index_path(:eid => @employer.id), :class => "event-holder", :style =>" color: #FFFFFF;text-decoration: none;" %></div>
      </div>

      <!--dashboard-info-image ends-->
      <div class="dashboard-content-right">
        <div class="w100">
          <div class="dashboard-post-profile-btn">

            <%= link_to image_tag(asset_path 'Post-An-Ad.png'), new_job_path() %>

            <a href="#"> <%= image_tag asset_path 'search-profile.png' %>
            </a>
          </div>
        </div>
        <!--dashboard-post-profile-btn ends-->
        <div class="dashboard-content">
          <h1>Dashboard</h1>

          <%= image_tag asset_path 'dashboard-botom-line.png' %>
          <p><b>Welcome Future Coder Businesses</b></p>

          <p>Start now your recruitment: <br/>

            - Post an ad<br/>
            Fill in the details of your position and the type of profile you are looking for. Your ad will be routed
            to
            the
            right profiles.<br/>
            - Chasing a Profile<br/>
            Tell us what your ideal candidate and we will offer you the profiles that most closely match your
            requirements.
          </p>

          <h1>My<span class="red"> Ads</span></h1>

          <%= image_tag asset_path 'dashboard-botom-line.png' %>
          <p>0 advert (s) active (s) 0 ad (s).</p>

          <a href="#">see all</a>

          <h1>My<span class="red"> Statistics</span></h1>

          <%= image_tag asset_path 'dashboard-botom-line.png' %>
          <p><label>Total Jobs Posted</label> <%= @employer.jobs.count %><br/>
            <label>last Created Job</label></p>

          <div class="buttons w100">

            <div class="btn-left-holder"></div>
            <div class="btn-mid-holder">0 profile (s) (s) selected</div>
            <div class="btn-right-holder"></div>
            <div class="btn-left-holder"></div>
            <div class="btn-mid-holder">0 profile (s) contacted (s)</div>
            <div class="btn-right-holder"></div>

          </div>
          <a href="#">see all</a>

          <h1>My<span class="red"> Subscription</span></h1>
          <%= image_tag asset_path 'dashboard-botom-line.png' %>

          <p>Wizbii is free and without obligation until January 31, 2012. Enjoy!<br/>
        </div>
      </div>
      <!--dashboard-content-right ends-->

  <% end %>
</div>

<script type="text/javascript">
    $("a.event-holder").click(function() {

        $.ajax({
            context: this,
            url: $(this).attr("href"),
            type: "GET",
            data: $(this).serialize(),
            dataType: "json",
            success: function(response) {
                return $(".dashboard-content-right").html(response.html);
            }
        });
        return false;

    });


</script>


