<%= render :partial => "shared/top_search_ box" %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="sign-in-input-holder">
      <label>Email</label>
      <%= f.email_field :email ,:class=>'validate[required]'%>
    </div>
    <div class="sign-in-input-holder">
      <label>Password</label>
      <%= f.password_field :password %>
    </div>
    <div class="save-button">
      <div class="reset"> <%= f.submit "Sign in" %> </div>
    </div>
<% end %>


