<div class="dashboard-right-content">

  <div class="dashboard-right-content">


    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <div class="dashboard-right-left">

      <div class="job-input">
        <label>Title</label>
        <%= f.text_field :name %>
      </div>

      <div class="contract-field">
        <label> Thesis Category</label>
        <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name", @thesis.category_id) %>
      </div>

      <div class="job-input" id="date-picker">
        <label> Published Date</label>
        <%= f.text_field :date_of_publish, :class =>"date-pick" %>
      </div>
      <div class="job-input">
        <label> No of Pages</label>
        <%= f.text_field :no_of_pages %>
      </div>

    </div>

    <!--dashboard-right-left ends-->
    <div class="dashboard-right-right">
      <div class="job-input-description">
        <label>Description</label>
        <%= f.text_area :description %>
      </div>


      <div class="job-input">
        <label>Thesis Document</label>
        <%= fields_for :thesis_doc do |thesis| %>
            <%= thesis.file_field :image %>
        <% end %>
      </div>
    </div>

  </div>


  <div class="clear"></div>
  <div class="clear"></div>


  <div class="w100">
    <div class="btn-save">
      <div class="apply-left"></div>
      <div class="apply-mid">Save</div>
      <div class="apply-right"></div>
    </div>
  </div>

  <!--dashboard-right-left-->
</div>