<div class="dashboard-content-right">
  <div style="width: 97%;border-bottom: 4px solid #991514;margin-bottom: 20px;">
    <h1 style="margin-top: 28px;"> <%= t('Thesis.thesis') %> <span class="red"> <%= t('information') %></span></h1>
  </div>

  <% unless @thesis.blank? %>
      <p><label><%= t('name') %>:</label>        <%= @thesis.name %> <br/>

      <p><label><%= t('description') %>:</label> <%= @thesis.description %></p>  <br/>
      <label><%= t('Thesis.published') %>:</label>     <%= @thesis.date_of_publish.strftime("%d-%m-%Y") %>  <br/>
      <label><%= t('Thesis.no_of_pages') %>:</label>        <%= @thesis.no_of_pages %>  <br/>
      <label><%= t('Thesis.file_name') %>:</label>
      <% unless @thesis.photo.blank? %>   <%= @thesis.photo.image_file_name %>  <br/>
      <% end %>

  <% end %>
</div>

<div class="w100">
  <div class="btn-apply-change-new">
    <div class="apply-left"></div>
    <div class="apply-mid"><%= link_to "Done", theses_path(), :class => "job-link", :style => " color: #FFFFFF;text-decoration: none;" %></div>
    <div class="apply-right"></div>
  </div>
  <div class="btn-apply-change-new">
    <div class="apply-left"></div>
    <div class="apply-mid"><%= link_to "Personalize this Thesis", edit_thesis_path(:id => @thesis.id), :style => " color: #FFFFFF;text-decoration: none;" %></div>
    <div class="apply-right"></div>
  </div>


</div>