<div class="dashboard-content-right">
  <div style="width: 97%;border-bottom: 4px solid #991514;margin-bottom: 20px;">
    <h1 style="margin-top: 28px;">Thesis <span class="red"> Information</span></h1>
  </div>

  <% unless @thesis.blank? %>
      <p><label>Name:</label>        <%= @thesis.name %> <br/>

      <p><label>Description:</label> <%= @thesis.description %></p>  <br/>
      <label>Date of Publication:</label>     <%= @thesis.date_of_publish.strftime("%d-%m-%Y") %>  <br/>
      <label>No of Pages:</label>        <%= @thesis.no_of_pages %>  <br/>
      <label>Thesis File Name:</label>
      <% unless @thesis.photo.blank? %>        <%= @thesis.photo.image_file_name %>  <br/>
      <% end %>

  <% end %>
</div>

<div class="w100">
  <div class="btn-apply-change-new">
    <div class="apply-left"></div>
    <div class="apply-mid"><%= link_to "Done", theses_path(), :class => "job-link", :style => " color: #FFFFFF;text-decoration: none;" %></div>
    <div class="apply-right"></div>
  </div>
  <div class="btn-apply-change-new">
    <div class="apply-left"></div>
    <div class="apply-mid"><%= link_to "Personalize this Thesis", edit_thesis_path(:id => @thesis.id), :style => " color: #FFFFFF;text-decoration: none;" %></div>
    <div class="apply-right"></div>
  </div>


</div>