<%= javascript_include_tag "jquery-ui-1.8.17.custom.min", "jquery.pagination" %>
<%= stylesheet_link_tag "pagination", "jquery.ui.datepicker" %>
<%= render :partial => "shared/top_search_ box" %>
<div class="content-holder">

  <div class="basic-info mtop10">
    <h1><span class="red">Theses Categories</span></h1>
    <%= image_tag asset_path 'basic-info-bot-bar.png' %>

  </div>

  <div class="w100">
    <div class="groups-left-theses mtop10">

      <% unless @categories.blank? %>
          <ul class="groups-link-theses">
            <% @categories.each do |category| %>
                <li>
                  <% @cat_thesis = category.theses(:conditions => { :is_deleted => false }) %>
                  <div class="accountants"><%= link_to category.name + "[#{@cat_thesis.count}]", thesis_category_theses_path(:id => category.id), :class => "category_link" %></div>
                </li>
            <% end %>
          </ul>

      <% end %>


    </div>

    <div class="dashboard-right_new">
      <%= render :partial => "search_theses" %>
      <div class="w100 mtop10">
        <div class="search-field">

        </div>
        <div class="btn_holder">

          <div class="btn_mid_holder">
          </div>

        </div>
      </div>

      <div class="w100">
        <div id="container_new">
          <%= render :partial => "theses/thesis_categories", :locals => { :theses => @theses } %>
        </div>

        <div class="w100 mtop10">
          <div class="btn_holder">
            <div class="btn_mid_holder">

            </div>

          </div>
        </div>


      </div>


    </div>


  </div>

</div>


<script type="text/javascript">


    $("a.category_link").click(function () {
        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                return $("#container_new").html(response.html);
            }
        });
        return false;
    });

</script>
