<%= javascript_include_tag "jquery.form-new" %>
<div class="content-left-holder">
  <div class="shadow"></div>
  <div class="popup-hold">

    <div class="popup-top-holder"><%= t('jobs.job_application') %></div>
    <div class="popup-mid-holder ">
      <%= form_tag('jobs/apply_job', :id => 'apply_job_form') do %>
          <div id="form-errors"></div>
          <div class="input-holder" style="width:59%;">
            <label>Job Name</label>
            <%= text_field_tag 'name', @job.name, :disabled => true %>
          </div>
          <%= hidden_field_tag :job_id, @job.id %>
          <div class="input-holder">
            <% unless @cvs.blank? %>
                <label><%= t('jobs.cv') %></label>
                <% @cvs.each do |cv| %>
                    <%= radio_button_tag :"cv_id", cv.id, true %>
                    <%= cv.photo_file_name %>
                <% end %>
            <% end %>

          </div>
      <% end %>


      <div class="input-holder">
        <label><%= t('profiles.profile_picture') %></label>
        <%= form_for :asset, :url => upload_cover_letter_profiles_path, :html => { :id => "CoverForm", :multipart => true } do |form| %>
            <%= hidden_field_tag "asset[user_id]", current_user.id %>
            <%= hidden_field_tag "asset[profile_id]", current_user.profile.id %>
            <%= hidden_field_tag "asset[content_type]", "Cover_Letter" %>
            <%= file_field_tag "asset[photo]", :class => "photo" %>
        <% end %>
      </div>


      <div class="pop-up-btn-new">
        <div id="application_job" class="pop-up-btn"><%= t('send') %></div>
        <div id="exit_job" class="pop-up-btn" onclick="close_popup()"><%= t('exit') %></div>
      </div>


    </div>

    <div class="popup-bot-holder"></div>
  </div>


</div>





<script type="text/javascript">

    $("#application_job").click(function () {
        <% unless @cvs.blank? %>
        {
            $('#apply_job_form').ajaxSubmit({
                success:function (data) {
                    alert("Your application has been successfully submitted");
                    $(".content-holder").html(data.html);
                    close_popup();
                }
            });

            return false;
        }
        <%else%>
        {
            alert("You need to first upload a CV");
        }
        <%end%>
    });


    function close_popup() {
        $(".popup-hold").hide();
        $(".shadow").hide();
        $.ajax({
            url:'/jobs/details?id=' + '<%= @job.id%>', type:'get', dataType:'json',
            processData:false,
            success:function (data) {

                $(".content-holder").html(data.html);
            }
        })
    }

    $('.photo').change(function () {
        $('#CoverForm').ajaxSubmit({
            beforeSubmit:function (a, f, o) {
                o.dataType = 'json';
            },
            complete:function (XMLHttpRequest, textStatus) {
                $("#form-errors").html(XMLHttpRequest.responseText);
            }
        });
    });


</script>