<div class="reg-tab-holder">
  <div class="reg-tab-holder-new tab-act">
    <div class="reg-left-tab-holder"></div>
    <div class="reg-mid-tab-holder"><%= t('create_job') %></div>
    <div class="reg-right-tab-holder"></div>
  </div>
</div>

<div class="basic-info mtop10">
  <h1><%= t('basic') %>  <span class="red"> <%= t('information') %></span></h1>
  <%= image_tag asset_path 'basic-info-bot-bar.png' %>
</div>
<label> <%= t('job_detail') %> </label>
<div class="w100">
  <div class="profile-left-div">
    <div class="profile-input mtop20">
      <label><%= t('jobs.name') %></label>
      <%= f.text_field :name %>
    </div>
    <div class="profile-input mtop20">
      <label><%= t('jobs.description') %></label>
      <%= f.text_area :description %>
    </div>

    <div class="profile-input mtop20">
      <label><%= t('jobs.comp_annual') %>:$</label>
      <%= f.text_field :comp_annual %>
    </div>

    <div class="profile-input mtop20">
      <label><%= t('jobs.bonus') %> :$</label>
      <%= f.text_field :comp_bonus %>
    </div>

    <div class="profile-input mtop20">
      <label><%= t('jobs.commission')  %> :$</label>
      <%= f.text_field :comp_commission %>
    </div>
    <div class="profile-input mtop20">
      <label><%= t('profiles.country') %></label>

      <div id="country">
        <%= render :partial => "shared/countries" %>
      </div>
    </div>

    <div class="profile-input mtop20">
      <label><%= t('profiles.region') %></label>

      <div id="regions">
        <%= render :partial => "shared/regions" %>
      </div>
    </div>

    <div class="profile-input mtop20">
      <label><%= t('profiles.city') %></label>

      <div id="cities">
        <%= render :partial => "shared/cities" %>
      </div>
    </div>
  </div>
  <div class="profile-right-div">
    <div class="profile-input mtop20">
      <label><%= t('category') %> </label>
      <%= select_tag :category_id, options_from_collection_for_select(Category.all, "id", "name"), :class =>"reg-slt-div-new" %>

    </div>
    <div class="profile-input mtop20">
      <label><%= t('jobs.employer_type') %></label>
      <%= f.text_field :employer_type %>
    </div>
  </div>

  <div class="basic-info mtop40">
    <h1><%= t('job') %> <span class="red"> <%= t('responsibilities') %></span></h1>
    <%= image_tag asset_path 'basic-info-bot-bar.png' %>
  </div>
  <%= fields_for :respon do |rp| %>
      <div class="profile-left-div-new">
        <div class="profile-input mtop20">
          <label><%= t('job_responsibility') %></label>
          <%= rp.text_field :name %>
          <div class="add-button">
            <%= image_tag asset_path "plus.png" %>
            <%= image_tag asset_path "minus.png" %>
          </div>
        </div>
      </div>
  <% end %>

  <div class="basic-info mtop40">
    <h1><%= t('job') %> <span class="red"> <%= t('skills') %></span></h1>
    <%= image_tag asset_path 'basic-info-bot-bar.png' %>
  </div>
  <%= fields_for :skill do |skill| %>
      <div class="profile-left-div-new">
        <div class="profile-input mtop20">
          <label><%= t('job_skill') %></label>
          <%= skill.text_field :name %>
          <div class="add-button">

            <%= image_tag asset_path "plus.png" %>
            <%= image_tag asset_path "minus.png" %>
          </div>
        </div>
      </div>
  <% end %>
</div>


