<div class="content-left-holder">
  <div class="w100">
    <div class="search-results"></div>
    <!--    <div class="data-post-div"></div>-->

    <div class="search-line"></div>
  </div>
  <ul class="page-links">
    <!--<li><%= link_to "Jobs", "/jobs" %> </li>-->
    <!--<li><a href="#">Accounting and finance</a>&nbsp; &gt; &nbsp; </li>-->
    <!--<li class="slt"><a href="#">Office manger - Company name </a></li>-->
  </ul>

  <div class="result-holder">
    <div class="job-details-left">
      <div class="job-details">
        <% unless @job.blank? %>
            <h1><%= @job.name %></h1>

            <p><%= @job.location %> </p>
            </div>
            <% current_url_without_uri = request.protocol+request.host_with_port %>
            <% shorten_url = ("#{current_url_without_uri}/jobs/#{@job.id}") %>

            <div class="network-holder" id="network-holder">
            </div>
            </div>
            <div class="job-btn-holder">
              <div class="job-btn-left"></div>
              <!-- <div class="job-btn-mid"><%#= link_to "Apply", "javascript:", :class => "job-application", :style => "color: #fff; text-decoration: none;" %></div>-->
              <!-- <div class="job-btn-mid"><#%= link_to "Apply", new_application_jobs_path(:jid => @job), :class => "job-application", :style => "color: #fff; text-decoration: none;" %></div> -->
              <div class="job-btn-mid">
                <div class="job-application" style=" cursor: pointer;">Apply</div>
              </div>
              <div class="job-btn-right"></div>
            </div>
            </div>

            <div class="result-holder">
              <div class="description-heading"><%= t('job_comapny_descripton') %>:</div>
              <div class="description-text"> <%= @job.employer.profile.company_information.description %></div>
            </div>
            <div class="description-text mtop30">
            </div>

            <div class="description-heading"><%= t('job_descripton') %>:</div>
            <div class="description-text"> <%= @job.description %></div>
            <div class="description-text mtop30">
            </div>
            <div class="description-heading mtop30"><%= t('job_profile') %>:</div>
            <div class="description-text"><br>
            </div>

            <div class="description-heading mtop30"><%= t('jobs.languages') %>:</div>
            <% @job.job_languages.each_with_index do |lang, i| %>
                <div class="description-text"><%= lang.language.value %>, <%= lang.level %>
                </div>
            <% end %>
            <div class="description-heading mtop30"><%= t('jobs.education') %>:</div>
            <% unless @job.education_levels.blank? %>
                <% @job.education_levels.each do |education| %>
                    <div class="description-text"><%= education.name %>
                    </div>
                <% end %>
            <% end %>
            <div class="description-heading mtop30"><%= t('job_skill_require') %>:</div>
            <% @job.skills.each do |skill| %>
                <div class="description-text"> <%= skill.name %>
                </div>
            <% end %>
            <div class="description-heading mtop30"><%= t('jobs.comp_annual') %></div>
            <div class="description-text"><%= @job.annual_salary %></div>
            <% unless @job.contract.blank? %>
                <div class="description-heading mtop30"><%= t('jobs.contract') %></div>
                <div class="description-text"><%= @job.contract.name %></div>
            <% end %>
            <% unless @job.period.blank? %>
                <div class="description-heading mtop30"><%= t('jobs.duration') %></div>
                <div class="description-text"><%= @job.period.name %></div>
            <% end %>
            <div class="description-heading mtop30"><%= t('jobs.date_of_start') %></div>
            <div class="description-text"><%= @job.date_of_start.strftime('%m/%d/%Y') %></div>

            <!-- <div class="job-btn-holder">
                 <div class="job-btn-left"></div>
              <div class="job-btn-mid"><%#= t('job_apply') %></div>
                <div class="job-btn-right"></div>
              </div>-->

            <!--  <div class="more-similar-jobs"><a href="#"><%#= t('job_similar') %></a></div>-->
            </div>
            </div>

            <div class="content-right-holder">
              <div class="popular-vacancies">
                <h1><span class="red"><%= t('jobs.job_stat') %> </span> <%= t('jobs.and_requirement') %></h1>

                <div class="small-line"></div>
              </div>
              <div class="industry-holder">
                <h1><%= t('job_industry') %>:</h1>

                <p><%= @job.category.name %></p>
              </div>
              <div class="industry-holder">
                <h1><%= t('job_industry') %>:</h1>

                <p><%= @job.category.name %></p>
              </div>
              <div class="industry-holder">
                <h1><%= t('job_industry') %>:</h1>

                <p><%= @job.category.name %></p>
              </div>
              <div class="industry-holder">
                <h1><%= t('job_industry') %>:</h1>

                <p><%= @job.category.name %></p>
              </div>
              <div class="industry-holder">
                <p><%= @job.category.name %></p>


              </div>
              <div class="industry-holder">
                <h1><%= t('job_industry') %>:</h1>

                <p><%= @job.category.name %></p>
              </div>
              <div class="industry-holder">
                <h1><%= t('job_industry') %>:</h1>

                <p><%= @job.category.name %></p>
              </div>

        <% end %>
        </div>


        <script type="text/javascript">

            $(".job-application").click(function () {

                <%if user_signed_in?%>
                {
                <%if current_user.role !="employer" && current_user.has_applied(@job.id)!= true%>
                    {
                    <%unless current_user.profile.blank?%>
                        {
                            url = "jobs/new_application?id=" + '<%=@job.id %>';
                            $.ajax({
                                context:this,
                                url:url,
                                type:"GET",
                                data:$(this).serialize(),
                                dataType:"json",
                                success:function (response) {
                                    $(".content-holder").html(response.html);
                                }
                            });
                            return false;
                        }
                    <%else%>
                        {
                            alert("Please first create your profile!");
                            window.location.href = "/profiles/new"

                        }
                    <%end%>
                    }
                <%else%>
                    {
                        alert("Already applied for this job");
                    }
                <%end%>
                }
                <%else%>
                window.location.href = "/sign_in";
                return false;
                <%end%>
            });

            $("#application-form").dialog({
                autoOpen:false,
                height:300,
                width:350,
                modal:true,
                buttons:{

                    Cancel:function () {
                        $(this).dialog("close");
                    },
                    "Apply for a Job":function () {

                        $.post($("form#apply_job_form").attr("action"), $("form#add_question_for").serialize(), (function (response) {
                            return $(".mid-cont-holder").html(response.html);
                        }), "json");
                        return false;

                    }}
            });


            $(document).ready(function () {
                var menuPlaceholder = document.getElementById('network-holder');
                newNode = document.createElement('div');
                newNode.id = 'social_media_toolbox';
                newNode.innerHTML = ' <div class="addthis_toolbox addthis_default_style " addthis:description="<%= @job.employer.profile.company_information.name %> is Hiring for <%= @job.name %>. Please click on the links to apply for this position.." addthis:title="<%= @job.name %>" addthis:url="<%= shorten_url %>"> <a class="addthis_button_facebook"></a> <a class="addthis_button_twitter"></a><a class="addthis_button_email"></a><a class="addthis_button_linkedin"></a><a class="addthis_button_print"></a><span class="addthis_separator">|</span><a href="http://www.addthis.com/bookmark.php?v=250&pubid=ra-4f0dccb34198a7b3" class="addthis_button_compact">Share</a><div>';

                menuPlaceholder.parentNode.insertBefore(newNode, menuPlaceholder.nextSibling);

                addthisScript = document.createElement('script');
                addthisScript.src = 'http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f0dccb34198a7b3&domready=1';
                document.body.appendChild(addthisScript);

            });


        </script>