<div class="dashboard-content-right">

  <div style="width: 97%;border-bottom: 4px solid #991514;margin-bottom: 20px;">
    <h1 style="margin-top: 28px;"> <%= t('job') %> <span class="red"> <%= t('information')%></span></h1>
  </div>
  <% unless @job_new.blank? %>
      <p><label><%= t('name')%>:</label>        <%= @job_new.name %> <br/>

      <p><label><%= t('description')%>:</label> <%= @job_new.description %></p>  <br/>
      <label><%= t('jobs.contract')%>:</label>     <%= @job_new.contract.name %>  <br/>
      <label><%= t('jobs.contract_duration')%>:</label>        <%= @job_new.period.name %>  <br/>
      <label><%= t('jobs.Date_of_start')%>:</label><%= @job_new.date_of_start %>  <br/>
      <label><%= t('jobs.category')%>:</label><%= @job_new.category.name %>  <br/>
      </p>
      <h1><%= t('company')%> <span class="red"> <%= t('information')%> </span></h1>
      <%= image_tag asset_path 'dashboard-botom-line.png' %>
      <p><label><%= t('profile_company_nam')%>:</label>        <%= @job_new.employer.profile.company_information.name %> <br/>

      <p><label><%= t('description')%>:</label>  <%= @job_new.employer.profile.company_information.description %></p>  <br/>
      <label><%= t('profile_industry')%>:</label>     <%= @job_new.employer.profile.company_information.sector.value %>  <br/>
      </p>

      <h1> <%= t('required')%> <span class="red"> <%= t('profile_profile')%></span></h1>
      <%= image_tag asset_path 'dashboard-botom-line.png' %>
      <label>Skills:</label>
      <% unless @job_new.skills.blank? %>
          <% @job_new.skills.each do |skill| %>
              <%= skill.name %>,
          <% end %>
      <% end %>
      <br/>

      <p><label><%= t('education')%>:</label>
        <% unless @job_new.education_levels.blank? %>
            <% @job_new.education_levels.each do |job_edu| %>
                <%= job_edu.name %>,
            <% end %>
        <% end %></p>  <br/>
      <label><%= t('language')%>:</label>
      <% unless @job_new.languages.blank? %>
          <% @job_new.languages.each do |job_lang| %>
              <%= job_lang.value %>,
          <% end %>
      <% end %>
      </p>
  <% end %>
</div>

<div class="w100">
  <div class="btn-apply-change-new">
    <div class="apply-left"></div>
    <div class="apply-mid"><%= link_to t('publish_on_futur_cadre'), details_jobs_path(:id => @job_new.id), :class => "job-link", :style => " color: #FFFFFF;text-decoration: none;" %></div>
    <div class="apply-right"></div>
  </div>
  <div class="btn-apply-change-new">
    <div class="apply-left"></div>
    <div class="apply-mid"><%= link_to t('personalize'), edit_jobs_path(:id => @job_new.id), :style => " color: #FFFFFF;text-decoration: none;" %></div>
    <div class="apply-right"></div>
  </div>


</div>

<script language="JavaScript">
    $("a.job-link").click(function () {
        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                $(".content-holder").html(response.html);
            }
        });
        return false;
    });
</script>

