<script language="JavaScript">
	$("a.job-link").click(function() {
  $.ajax({
	context: this,
	url: $(this).attr("href"),
	type: "GET",
	data: $(this).serialize(),
	dataType: "json",
	success: function(response) {
	 $(".content-holder").html(response.html);
	}
  });
  return false;
	});
</script>
<% if @jobs.present? %>
	<% @jobs.each do |job|  %>
		<div class="result-holder">
			<div class="accountants"><%= link_to job.name, details_jobs_path(:id => job.id), :class => "job-link" %></div>
			<div class="result-text"><%= job.employer.name %>,<%= job.location %></div>
			<div class="result-text"><%= job.description %></div>
			<div class="date-text"><%= job.created_at.strftime('%m/%d/%Y') %></div>
		</div>
	<%end%>
<%else%>
		Sorry! No JOb Found.
<%end%>