<div class="dashboard-right-content">

<div class="dashboard-content-right">
  <div class="basic-new-info-writting-img">
    <a href="#">
      <%= image_tag asset_path 'basic-new-info-writting-img.png' %>
    </a>
  </div>
  <div class="basic-new-info-publication-img">
    <a href="#">
      <%= image_tag asset_path 'basic-new-info-publication-img.png' %>
    </a>
  </div>
</div>


<!--dashboard-post-profile-btn ends-->
<div class="dashboard-right-content">

  <h1><span>I Publish</span> an offer</h1>
  <%= image_tag asset_path 'dashboard-botom-line.png' %>
  <div class="dashboard-right-left">

    <div class="job-input">
      <label><%= t('jobs.name') %></label>
      <%= f.text_field :name %>
    </div>

    <div class="contract-field">
      <label> Job Category</label>
      <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name", @job_edit.category_id) %>
      <!-- <%#= options_for_select([['Lisbon', 1], ['Madrid', 2]], 2) %> -->
    </div>

    <div class="contract-field">
      <label>Contract</label>
      <%= f.select :contract_id, options_from_collection_for_select(Contract.all, "id", "name", @job_edit.contract_id) %>
    </div>

    <div class="reg-location-holder" style="margin-top: 0!important;">
      <label>Location</label>
      <%= render :partial => "shared/countries", :locals => { :object_collection => "job" } %>
      <div id="regions">
        <%= render :partial => "shared/regions", :locals => { :object_collection => "job" } %>
      </div>
      <div id="cities">
        <%= render :partial => "shared/cities", :locals => { :object_collection => "job" } %>
      </div>
    </div>

  </div>

  <!--dashboard-right-left ends-->
  <div class="dashboard-right-right">
    <div class="job-input-description">
      <label>Description</label>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="w100 mtop20">
    <div class="contract-label">
      <label>Contract Duration</label>
      <%= f.select :period_id, options_from_collection_for_select(Period.all, "id", "name", @job_edit.period_id) %>
    </div>

    <div class="radio-label">
      <%= f.radio_button 'date_of_start', true,:checked => @job_edit.date_of_start ==Time.now ? true : false, :class => "contract-radio" %>
      <label>Immediate</label>
    </div>

    <div class="radio-label">
      <%= f.radio_button 'date_of_start', false,:checked => @job_edit.date_of_start ==Time.now ? false : true   , :class => "contract-radio", :id =>"enable_datextbox"%>
      <label> From Date</label>
    </div>

    <div class="date-box">
      <%= text_field_tag "date_of_start_text" , @job_edit.date_of_start.strftime("%d-%m-%Y") , :class =>"date-pick", :disabled => false, :id => "Date-Box"%>
    </div>

  </div>


  <!--dashboard-right-right-->
  <div class="job-input-remuneration">

    <div class="remu-input">
      <label>Annual Salary</label>
      <%= f.radio_button 'annual_salary', 'Negotiable',:checked => @job_edit.annual_salary == "Negotiable"? true : false, :class => "checked-radio" %>
      <label>Negotiable</label>
    </div>

    <div class="remu-inputs-two">
      <%= f.radio_button 'annual_salary', 'Non', :checked => @job_edit.annual_salary == "Non"? true : false, :class => "checked-radio" %>
      <label> Non</label>
    </div>

    <div class="remu-inputs-two">
      <%= f.radio_button 'annual_salary', 'Oui', :class => "checked-radio",:checked => @job_edit.annual_salary == "Oui"? false : true, :id =>"enable_textbox" %>
      <label> Oui</label>
    </div>

    <div class="remu-input-field">
      <%= text_field_tag "annual_salary_text",@job_edit.annual_salary, :disabled => false, :id => "textBox" %>
    </div>

  </div>
</div>

<div class="job-skill">
  <h1><span>Company</span> information</h1>
  <%= image_tag asset_path 'dashboard-botom-line.png' %>
</div>
<% if @company_informationn.present? %>
    <div class="dashboard-right-left">

      <div class="job-input">

        <label>Add a Skills</label>
        <input type="text" value=""/>
      </div>
      <div class="job-input-description">
        <label>Description</label>
        <input type="text" value=""/>
      </div>

    </div>
    <!--dashboard-right-left-->

    <div class="dashboard-right-right">
      <div class="skill-content">

        <div class="contract-field">
          <label> Industry Sector</label>
          <%= select_tag :sector_id, options_from_collection_for_select(Sector.all, "id", "value") %>
        </div>

      </div>
    </div>
    <!--dashboard-right-right-->
<% else %>
    <%= fields_for :company_information do |ed| %>
        <div class="dashboard-right-left">

          <div class="job-input-add">
            <label>Company Name</label>
            <%= ed.text_field :name %>
          </div>
          <div class="job-input-description">
            <label>Description</label>
            <%= ed.text_area :description %>
          </div>

        </div>
        <!--dashboard-right-left-->

        <div class="dashboard-right-right">
          <div class="skill-content">

            <div class="contract-field">
              <label style="margin-top: 0!important;"> Industry Sector</label>
              <%= ed.select :sector_id, options_from_collection_for_select(Sector.all, "id", "value", @company_information.sector_id) %>
            </div>
          </div>
        </div>
        <!--dashboard-right-right-->
    <% end %>
<% end %>
<div class="clear"></div>
<div class="clear"></div>
<%= hidden_field_tag 'count', '0' %>
<div class="job-skill">
  <h1><span>Required</span> Profile </h1>
  <%= image_tag asset_path 'dashboard-botom-line.png' %>
</div>
<%= fields_for :skills do |skill| %>
    <div class="skils-ful-length">
      <label style="margin-top: 0!important;">Skill</label>

      <%= skill.text_field :name %>

    </div>
<% end %>
<div id="language-div" class="language-bar">
  <% @job_languages.each_with_index do |job_lang, i| %>
      <div id="remove_lang_<%= i %>">
        <div class="contract-field-new">
          <label style="margin-top: 0!important;"> Language </label>
          <%= select_tag "language_ids[]", options_from_collection_for_select(Language.all, "id", "value", job_lang.id) %>
        </div>
        <div class="contract-field-new">
          <label style="margin-top: 0!important;"> Language Level </label>
          <%= select_tag 'level[]', options_for_select([["Niveau", "Niveau"], ["Notions", "Notions"], ["Courant", "Courant"], ["Bilingue", "Bilingue"]]) %>

          <div class="add-button">
            <div class="add-language"> <%= image_tag asset_path 'plus.png' %></div>
            <% if i > 0 %>
                <a href="javascript:;">
                  <%= link_to_function image_tag(asset_path 'minus.png'), "remove_language(#{i},#{job_lang.id},#{@job_edit.id} );" %>
                  <!--<img src="/assets/minus.png" alt="Remove" onclick="remove_location_field_new(<%= i %>)"/>-->
                </a>
            <% end %>
          </div>

        </div>
      </div>
  <% end %>
</div>

<div id="education-div">
  <div class="contract-field-ed">
    <label> Education Level </label>
    <%= f.select(:education_level, Job::Education_Levels) %>
    <div class="add-button">
      <div class="add-education"> <%= image_tag asset_path 'plus.png' %></div>

    </div>
  </div>
</div>


<div class="left-holder">
  <div class="publication">
    <h1>Publication</h1>
    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <div class="w100 mtop20">
      <p>Postuler sur (au moins un choix):</p>

      <div class="inputs-publication">
        <input type="checkbox" value=""/>
      </div>
    </div>
  </div>
  <div class="publication-line">
    <div class="publication-line">
      <input type="checkbox" value=""/>

      <p>Recevoir les candidatures sur mon adresse e mail</p>

    </div>
    <div class="clear"></div>


  </div>
</div>

<div class="w100">
  <div class="btn-save">
    <div class="apply-left"></div>
    <div class="apply-mid">Update</div>
    <div class="apply-right"></div>
  </div>
</div>

<!--dashboard-right-left-->
</div>
<!--dashboard-content-right ends-->


<script type="text/javascript">


    var count = 1;
    $('.add-language').click(function() {
        var scntDiv = $('#language-div');
        var count = parseInt($('#count').attr('value'));
        count = count + 1;
        $('#count').attr('value', count);
        var txt_field = '<div id="main_div_' + count + '"><div class="contract-field-new">' + <%= select_tag "language_ids[]", options_from_collection_for_select(Language.all, "id", "value") %> + '</div><div class="contract-field-new">' + <%= select_tag 'level[]', options_for_select([["Niveau", "Niveau"], ["Notions", "Notions"], ["Courant", "Courant"], ["Bilingue", "Bilingue"]]) %> + '</div><div class="add-button" style="margin-top: 30px;><a href="javascript:;"><img src="/assets/minus.png" alt="Remove" onclick="remove_location_field(' + count + ')" /></a> <div> </div>';
        scntDiv.append(txt_field);

    });
    function remove_location_field(obj) {
        var field = $('#main_div_' + obj)
        var count = parseInt($('#count').attr('value'));
        var count_toatl = parseInt($('#count').attr('value'));
        count = count - 1;
        $('#count').attr('value', count);
        field.remove();
    }
    function remove_language(obj, lang_id, job_id) {
        var lang = lang_id;
        var job = job_id;
        $.ajax({
            url: '/jobs/remove_language?job_id=' + job + '&lang_id=' + lang, type: 'get',
            processData: false,
            success: function(data) {
                var field = $('#remove_lang_' + obj)
                var count = parseInt($('#count').attr('value'));
                var count_toatl = parseInt($('#count').attr('value'));
                count = count - 1;
                $('#count').attr('value', count);
                field.remove();
//                $(".language-bar").html(data);
            }});
        return false;

    }

    $('.add-education').click(function() {
        var scntDiv = $('.contract-field-ed');
        var count = parseInt($('#count').attr('value'));
        count = count + 1;
        $('#count').attr('value', count);
        var txt_field = '<div id="new_div_' + count + '"><div class="contract-field-ed">' + <%= f.select(:education_level, Job::Education_Levels) %> + '</div><div class="add-button" style="margin-top: 30px;"><a href="javascript:;"><img src="/assets/minus.png" alt="Remove" onclick="remove_education_field(' + count + ')" /></a> <div> </div>';
        scntDiv.append(txt_field);

    });
    function remove_education_field(obj) {
        var field = $('#new_div_' + obj)
        var count = parseInt($('#count').attr('value'));
        var count_toatl = parseInt($('#count').attr('value'));
        count = count - 1;
        $('#count').attr('value', count);
        field.remove();
    }

</script>