<div class="dashboard-right-content">

<div class="dashboard-content-right">
  <div class="basic-new-info-writting-img">
    <a href="#">
      <%= image_tag asset_path 'basic-new-info-writting-img.png' %>
    </a>
  </div>
  <div class="basic-new-info-publication-img">
    <a href="#">
      <%= image_tag asset_path 'basic-new-info-publication-img.png' %>
    </a>
  </div>
</div>


<!--dashboard-post-profile-btn ends-->
<div class="dashboard-right-content">

  <h1><span><%= t('jobs.publish')%></span> <%= t('jobs.offer')%></h1>
  <%= image_tag asset_path 'dashboard-botom-line.png' %>
  <div class="dashboard-right-left">

    <div class="job-input">
      <label><%= t('jobs.name') %></label>
      <%= f.text_field :name %>
    </div>

    <div class="contract-field">
      <label> <%= t('jobs.category')%></label>
      <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name", @job.category_id) %>
      <!-- <%#= options_for_select([['Lisbon', 1], ['Madrid', 2]], 2) %> -->
    </div>

    <div class="contract-label" id="contract_period">
      <label><%= t('jobs.contract')%></label>
      <%= f.select :contract_id, options_from_collection_for_select(Contract.all, "id", "name", @job.contract_id), { }, :onchange => "hide_field()" %>
    </div>

    <div class="reg-location-holder" style="margin-top: 0!important;">
      <label><%= t('jobs.location')%></label>
      <%= render :partial => "shared/countries", :locals => { :object_collection => "job" } %>
      <div id="regions">
        <%= render :partial => "shared/regions", :locals => { :object_collection => "job" } %>
      </div>
      <div id="cities">
        <%= render :partial => "shared/cities", :locals => { :object_collection => "job" } %>
      </div>
    </div>

  </div>

  <!--dashboard-right-left ends-->
  <div class="dashboard-right-right">
    <div class="job-input-description">
      <label><%= t('description')%></label>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="w100 mtop20">
    <div class="contract-label">
      <label><%= t('jobs.contract_duration')%></label>
      <%= f.select :period_id, options_from_collection_for_select(Period.all, "id", "name", @job.period_id) %>
    </div>

    <div class="radio-label" id="disable">
      <%= f.radio_button 'date_of_start', true, :checked => @job.date_of_start ==Time.now ? true : false, :class => "contract-radio", :onclick =>"disable('disable')" %>
      <label><%= t('immediate') %></label>
    </div>

    <div class="radio-label" id="enable">
      <%= f.radio_button 'date_of_start', false, :checked => @job.date_of_start ==Time.now ? false : true, :class => "contract-radio", :id =>"enable_datextbox", :onclick =>"disable('enable')" %>
      <label><%= t('date_of_start') %></label>
    </div>

    <div class="date-box" id="date-box">
      <%= text_field_tag "date_of_start_text", @job.date_of_start, :class =>"date-pick", :disabled => false, :id => "Date-Box" %>
    </div>


  </div>


  <!--dashboard-right-right-->
  <div class="job-input-remuneration">

    <div class="remu-input">
      <label><%= t('jobs.annual_salary')%></label>
      <%= f.radio_button 'annual_salary', 'Negotiable', :checked => @job.annual_salary == "Negotiable" ? true : false, :class => "checked-radio" %>
      <label><%= t('jobs.negotiable')%></label>
    </div>

    <div class="remu-inputs-two">
      <%= f.radio_button 'annual_salary', 'Non', :checked => @job.annual_salary == "Non" ? true : false, :class => "checked-radio" %>
      <label> Non</label>
    </div>

    <div class="remu-inputs-two">
      <%= f.radio_button 'annual_salary', 'Oui', :class => "checked-radio", :checked => @job.annual_salary == "Oui" ? false : true, :id =>"enable_textbox" %>
      <label> Oui</label>
    </div>

    <div class="remu-input-field">
      <%= text_field_tag "annual_salary_text", @job.annual_salary, :disabled => false, :id => "textBox" %>
    </div>

  </div>
</div>

<div class="job-skill">
  <h1><span>Company</span> information</h1>
  <%= image_tag asset_path 'dashboard-botom-line.png' %>
</div>
<% if @company_informationn.present? %>
    <div class="dashboard-right-left">

      <div class="job-input">

        <label><%= t('jobs.add_skills')%></label>
        <input type="text" value=""/>
      </div>
      <div class="job-input-description">
        <label><%= t('jobs.description')%></label>
        <input type="text" value=""/>
      </div>

    </div>
    <!--dashboard-right-left-->

    <div class="dashboard-right-right">
      <div class="skill-content">

        <div class="contract-field">
          <label><%= t('profile_industry') %></label>
          <%= select_tag :sector_id, options_from_collection_for_select(Sector.all, "id", "value") %>
        </div>

      </div>
    </div>
    <!--dashboard-right-right-->
<% else %>
    <%= fields_for :company_information do |ed| %>
        <div class="dashboard-right-left">

          <div class="job-input-add">
            <label><%= t('profile_company_nam') %></label>
            <%= ed.text_field :name %>
          </div>
          <div class="job-input-description">
            <label><%= t('description') %></label>
            <%= ed.text_area :description %>
          </div>

        </div>
        <!--dashboard-right-left-->

        <div class="dashboard-right-right">
          <div class="skill-content">

            <div class="contract-field">
              <label style="margin-top: 0!important;"> <%= t('jobs.industry_sector') %>r</label>
              <%= ed.select :sector_id, options_from_collection_for_select(Sector.all, "id", "value", @company_information.sector_id) %>
            </div>
          </div>
        </div>
        <!--dashboard-right-right-->
    <% end %>
<% end %>
<div class="clear"></div>
<div class="clear"></div>
<%= hidden_field_tag 'count', '0' %>
<%= hidden_field_tag 'counter', '0' %>
<div class="job-skill">
  <h1><span><%= t('required') %></span> <%= t('profile_profile') %> </h1>
  <%= image_tag asset_path 'dashboard-botom-line.png' %>
</div>
<%= fields_for :skills do |skill| %>
    <div class="skils-ful-length">
      <label style="margin-top: 0!important;"><%= t('Project.skills') %></label>

      <%= skill.text_field :name %>

    </div>
<% end %>
<div id="language-div" class="language-bar">
  <% @job_languages.each_with_index do |job_lang, i| %>
      <div id="remove_lang_<%= i %>">
        <div class="contract-field-new">
          <label style="margin-top: 0!important;"> <%= t('language') %> </label>
          <%= select_tag "language_ids[]", options_from_collection_for_select(Language.all, "id", "value", job_lang.id) %>
        </div>
        <div class="contract-field-new">
          <label style="margin-top: 0!important;"> <%= t('level') %> </label>
          <%= select_tag 'level[]', options_for_select([["Niveau", "Niveau"], ["Notions", "Notions"], ["Courant", "Courant"], ["Bilingue", "Bilingue"]]) %>

         <div class="add-button" style="margin-right: -28px!important;">
            <div class="add-language"> <%= image_tag asset_path 'plus.png' %></div>
            <% if i > 0 %>
                <a href="javascript:;">
                  <%= link_to_function image_tag(asset_path 'minus.png'), "remove_language(#{i},#{job_lang.id},#{@job.id} );" %>
                  <!--<img src="/assets/minus.png" alt="Remove" onclick="remove_location_field_new(<%= i %>)"/>-->
                </a>
            <% end %>
          </div>

        </div>
      </div>
  <% end %>
</div>
    <div class="clear" style="clear: both;"></div>
<div id="education-div"  style="width: 100%; float: left; margin-top: 30px;">
  <% unless @job_educations.blank? %>
      <% @job_educations.each_with_index do |job_ed, i| %>
          <div id="remove_edu_<%= i %>">
           <div class="contract-field-ed-two" id="contract-field-ed" >
              <label style="width:100%; float:left;"> <%= t('jobs.education_level') %> </label>
              <%= select_tag "education_ids[]", options_from_collection_for_select(EducationLevel.all, "id", "name", job_ed.id), :style => "height: 30px; margin-top: 5px; width: 85%;" %>
            </div>
            <div class="add-button-new-new">
              <div class="add-education"> <%= image_tag asset_path 'plus.png' %></div>
              <div class="clear" style="clear: both;"></div>
              <% if i > 0 %>
                  <a href="javascript:;">
                    <%= link_to_function image_tag(asset_path 'minus.png'), "remove_education(#{i},#{job_ed.id},#{@job.id} );" %>
                    <!--<img src="/assets/minus.png" alt="Remove" onclick="remove_location_field_new(<%= i %>)"/>-->
                  </a>
              <% end %>
            </div>
          </div>
      <% end %>
  <% else %>
      <div class="contract-field-ed-two">
        <label style="width:100%; float:left;"> <%= t('jobs.education_level') %> </label>
        <%= select_tag "education_ids[]", options_from_collection_for_select(EducationLevel.all, "id", "name"), :style => "height: 30px; margin-top: 5px; width: 85%;" %>
        <div class="add-button-new-new">
          <div class="add-education"> <%= image_tag asset_path 'plus.png' %></div>

        </div>
      </div>
  <% end %>
</div>



<div class="publication">
  <h1><%= t('publication') %></h1>
  <%= image_tag asset_path 'dashboard-botom-line.png' %>
  <div class="w100 mtop20">
    <p><%= t('publish_on_futur_cadre') %></p>

    <div class="inputs-publication">
      <%= check_box_tag 'publication' %>
    </div>
  </div>
</div>
<div class="publication-line">
  <div class="publication-line">
    <%= check_box_tag 'email' %>
    <p><%= t('receive_an_email')%></p>

    <div class="date-box" id="email-box" style="display: none;">
      <%= text_field_tag "employer_email", nil, :id => "email_box" %>
    </div>
  </div>
  <div class="clear"></div>


</div>


<div class="w100">
  <div class="btn-save">
    <div class="apply-left"></div>
    <div class="apply-mid"><%= t('update')%></div>
    <div class="apply-right"></div>
  </div>
</div>

<!--dashboard-right-left-->
</div>
<!--dashboard-content-right ends-->
     <% select_1 = "#{select_tag "language_ids[]", options_from_collection_for_select(Language.all, "id", "value")}" %>
<% select_1 = select_1.gsub(/(\r\n|\n|\r)/, "") %>
<% select_2 = "#{select_tag 'level[]', options_for_select([['Niveau', 'Niveau'], ['Notions', 'Notions'], ['Courant', 'Courant'], ['Bilingue', 'Bilingue'], ['Niveau', 'Bilingue']]) }" %>
<% select_2 = select_2.gsub(/(\r\n|\n|\r)/, "") %>
<% select_3= "#{select_tag "education_ids[]", options_from_collection_for_select(EducationLevel.all, "id", "name"), :style => "height: 30px; margin-top: 5px; width: 85%;" }"%>
<% select_3 = select_3.gsub(/(\r\n|\n|\r)/, "") %>

<script type="text/javascript">


    var count = 1;
    $('.add-language').click(function () {
        var scntDiv = $('#language-div');
        var count = parseInt($('#count').attr('value'));
        count = count + 1;
        $('#count').attr('value', count);
        var txt_field = '<div id=main_div_' + count + '><div class=contract-field-new><%= raw(select_1)%></div><div class=contract-field-new><%= raw(select_2)%></div><div class=add-button-two style="margin-top: 30px;"><a href="javascript:" onclick="remove_location_field(count)"><img src="/assets/minus.png" /></a></div></div>';
        scntDiv.append(txt_field);

    });
    function remove_location_field(obj) {
        var field = $('#main_div_' + obj)
        var count = parseInt($('#count').attr('value'));
        var count_toatl = parseInt($('#count').attr('value'));
        count = count - 1;
        $('#count').attr('value', count);
        field.remove();
    }
    function remove_language(obj, lang_id, job_id) {
        var lang = lang_id;
        var job = job_id;
        $.ajax({
            url:'/jobs/remove_language?job_id=' + job + '&lang_id=' + lang, type:'get',
            processData:false,
            success:function (data) {
                var field = $('#remove_lang_' + obj)
                var count = parseInt($('#count').attr('value'));
                var count_toatl = parseInt($('#count').attr('value'));
                count = count - 1;
                $('#count').attr('value', count);
                field.remove();
//                $(".language-bar").html(data);
            }});
        return false;

    }
       var counter = 1;
    $('.add-education').click(function () {
        var scntDiv = $('#education-div');
        var counter = parseInt($('#counter').attr('value'));
        counter = counter + 1;
        $('#counter').attr('value', counter);
         var txt_field = '<div id=new_div_' + counter + '><div class=contract-field-ed-two><%= raw(select_3)%><div class=add-button style="margin-top: 30px;"><a href="javascript:" onclick="remove_education_field(counter)"><img src="/assets/minus.png" /></a></div></div></div>';

        scntDiv.append(txt_field);

    });
    function remove_education_field(obj) {
        var field = $('#new_div_' + obj)
        var counter = parseInt($('#counter').attr('value'));
        var count_toatl = parseInt($('#counter').attr('value'));
        counter = counter - 1;
        $('#counter').attr('value', counter);
        field.remove();
    }

    function hide_field() {
        if ($("#job_contract_id option:selected").text() == "Cdi") {
            $("#contract_period").hide();
        }
        else {
            $("#contract_period").show();
        }

    }
    function disable(type) {

        if (type == 'disable') {

            $("#date-box").hide();
        }
        else if (type == 'enable') {

            $("#date-box").show();
        }

    }

    function remove_education(obj, ed_id, job_id) {
        var ed = ed_id;
        var job = job_id;
        $.ajax({
            url:'/jobs/remove_education?job_id=' + job + '&ed_id=' + ed, type:'get',
            processData:false,
            success:function (data) {
                var field = $('#remove_edu_' + obj)
                var counter = parseInt($('#counter').attr('value'));
                var count_toatl = parseInt($('#counter').attr('value'));
                counter = counter - 1;
                $('#counter').attr('value', counter);
                field.remove();
                //                $(".language-bar").html(data);
            }});
        return false;

    }



    $('#email').click(function(){

        if($('#email').is(':checked')==true)
        {

           $('#email-box').show();
        }
        else
        {
            $('#email-box').hide();
        }
    });

</script>