<%= javascript_include_tag "jquery-ui-1.8.17.custom.min", "jquery-ui-timepicker-addon" %>
<%= stylesheet_link_tag "jquery-ui-1.8.17.custom", "jquery.ui.datepicker" %>
<div class="content-holder">
  <div class="w100">
    <% @employer = current_user %>
    <div class="dashboard-content-left">
      <%= render :partial => "employer/employer", :locals => { :employer => @employer } %>
    </div>

    <div class="dashboard-content-right">
      <%= form_for @job, :url =>{ :action => 'create_job', :controller => 'jobs' }, :html =>{ :id => "job_form", :onsubmit =>false, :multipart => true }, :remote => true do |f| %>
          <%= render :partial => "job_form", :locals => { :f => f, :employer => @employer } %>
          <div class="save-button">
            <%#= f.submit "Save" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.date-pick').datepicker({dateFormat: 'yy-mm-dd'});
    });

    $('.checked-radio').click(function() {
//        $("#textBox").attr("disabled", "disabled");
        if ($(this).attr('id') == 'enable_textbox') {
            $("#textBox").removeAttr("disabled");
            document.getElementById("textBox").value = null;
        }

    });

    $('.contract-radio').click(function() {
//          $("#Date-Box").attr("disabled", "disabled");
        if ($(this).attr('id') == 'enable_datextbox') {
            $("#textBox").removeAttr("disabled");
            document.getElementById("Date-Box").value = null;
        }
    });

    $('.btn-save').click(function() {
        $.post($("form#job_form").attr("action"), $("form#job_form").serialize(), (function(response) {
            return $(".dashboard-right-content").html(response.html);
        }), "json");
        return false;
    });

</script>

