<div class="join-request">
  <div class="w100">
    <div class="groups-heading-hold">

      <h1><%= @group.name %></h1>

      <p> <%= @group.created_at.strftime("%d-%m-%Y") %> </span> -
        <span class="red"> <%= @group.users.count %></span> Members -
        <span class="red"> <%= @group.jobs.count %> </span> jobs</p>
    </div>
    <% if !user_signed_in? %>
        <div class="join-group-hold"><%= link_to_function "Join Group", "join_request(#{@group.id});" %></div>
    <% elsif current_user.is_member(@group.id)== false %>
        <div class="join-group-hold"><%= link_to_function "Join Group", "join_request(#{@group.id});" %></div>
    <% end %>
  </div>

  <div class="group-details-hold">
    <div class="grpup-img-hold"></div>
    <div class="grpup-img-details-hold"><%= @group.description %>
    </div>
  </div>
</div>