<div class="content-left-holder">
  <div class="w100">
    <div class="search-results"></div>
    <div class="data-post-div"></div>

    <div class="search-line"></div>
  </div>


  <div class="result-holder">
    <div class="job-details-left">
      <div class="job-details">
        <% unless @group.blank? %>
            <h1><%= @group.name %></h1>

            <label></label>

            </div>
            <div class="network-holder">
              <%= image_tag asset_path 'facebook-icon.png' %>
              <%= image_tag asset_path 'tweeter-icon.png' %>
              <%= image_tag asset_path 'linkedin-icon.png' %>
              <%= image_tag asset_path 'mail-icon.png' %>
            </div>
            </div>
            <div class="job-btn-holder">
              <div class="job-btn-left"></div>
              <div class="job-btn-mid"> Description</div>
              <div class="job-btn-right"></div>
            </div>
            </div>

            <div class="result-holder">
              <div class="description-heading"></div>
              <div class="description-text"> <%= @group.description %></div>
              <div class="description-text mtop30">
              </div>
              <div class="description-heading mtop30"></div>
              <div class="description-text"><br>

              </div>

              <div class="description-heading mtop30"></div>
              <div class="description-text">
              </div>
              <div class="description-heading mtop30"></div>

              <div class="description-text"></div>


              <div class="job-btn-holder">
                <div class="job-btn-left"> Group Stats</div>
                <div class="job-btn-mid"></div>
                <div class="job-btn-right"></div>
              </div>

              <div class="more-similar-jobs"></div>
            </div>
            </div>

            <div class="content-right-holder">
              <div class="popular-vacancies">
                <h1><span class="red">Group Jobs </span></h1>
                <% unless @group_jobs.blank? %>
                    <% @group_jobs.each do |jgroup| %>
                        <li><%= link_to jgroup.name, details_jobs_path(:id => jgroup.id), :class => "job-link" %></li>

                    <% end %>
                    <div class="small-line"></div>
                    </div>

                <% end %>
        <% end %>
        </div>