<script language="JavaScript">
    $("a.group-job-link").click(function() {
        $.ajax({
            context: this,
            url: $(this).attr("href"),
            type: "GET",
            data: $(this).serialize(),
            dataType: "json",
            success: function(response) {
                $(".content-holder").html(response.html);
            }
        });
        return false;
    });
</script>
<div class="mid-cont-holder">
  <% unless @group.jobs.blank? %>
      <% @group.jobs.each do |group_job| %>
          <div class="w100 mtop20">
            <div class="job-cont-hold">
              <div class="accountants"><%= link_to group_job.name, details_jobs_path(:id => group_job.id, :sid=> "group"), :class => "group-job-link" %> </div>
              <div class="result-text">  <%= group_job.employer.name %>,<%= group_job.location %></div>
              <div class="result-text"><%= group_job.description %> </div>
              <div class="date-text"> <%= group_job.created_at.strftime("%d-%m-%Y") %>
              </div>


            </div>

          </div>
      <% end %>
  <% end %>
</div>











