<script language="JavaScript">
    $(document).ready(function() {
        $('.date-pick').datetimepicker({dateFormat: 'yy-mm-dd',timeFormat: "hh:mm tt"});
//        ampm: true
    });

    $("#event-form").dialog({
        autoOpen: false,
        height: 300,
        width: 350,
        modal: true,
        buttons: {

            Cancel: function() {
                $(this).dialog("close");
            },
            "Create a Event": function() {
                $.post($("form#add_event_form").attr("action"), $("form#add_event_form").serialize(), (function(response) {
                    return $(".mid-cont-holder").html(response.html);
                }), "json");
                $("#event-form").dialog("close");
                return false;

            }}
    });

    $("#event-popup").click(function() {
        $("#event-form").dialog("open");
    });

</script>
<div class="mid-cont-holder">
  <div id="question_answer">
    <% unless current_user.blank? %>
        <button id="event-popup" class="question-button">Create Events</button>
    <% end %>
    <% unless @group.events.blank? %>
        <% @group.events.each do |group_event| %>
            <div class="w100 mtop20">
              <div class="job-cont-hold">
                <div class="accountants" id="answer_button" onclick="post_event('<%= group_event.id%>')">
                  <label> Title:</label><%= group_event.title %>
                </div>
                <div class="result-text"><label> Time:</label> <%= group_event.time_of_start %></div>
                <div class="result-text"><label> Time:</label> <%= group_event.time_of_end %></div>
                <div class="result-text"><label>Descripton:</label><%= group_event.description %> </div>
                <div class="date-text"> <%= group_event.created_at.strftime("%d-%m-%Y") %>
                </div>
              </div>

            </div>
        <% end %>

    <% end %>

    <div id="event-form" title="Create a New Event">

      <%= form_for :event, :url =>{ :action => 'create_event' }, :html =>{ :id => 'add_event_form' }, :remote => true do |f| %>
          <div class="input-holder">
            <%= hidden_field_tag :group_id, @group.id %>
            <label>Title</label>
            <%= f.text_field :title %>
          </div>
          <div class="input-holder">
            <label>Start Time</label>
            <%= f.text_field :time_of_start, :class =>"date-pick" %>
          </div>
          <div class="input-holder">
            <label>End Time</label>
            <%= f.text_field :time_of_end, :class =>"date-pick" %>
          </div>
          <div class="input-holder">
            <label>Message</label>
            <%= f.text_area :description %>
          </div>

      <% end %>


    </div>
  </div>

</div>

