 <div class="shadow"></div>
<div class="popup-hold">
  <div class="popup-top-holder"><%= t('Groups.question')%></div>
  <div class="popup-mid-holder ">
   <%= form_for :question, :url =>{ :action => 'create_question' }, :remote => true do |f| %>
       <div class="select-holder">
         <label><%= t('Groups.question_type')%></label>
         <%= select_tag :question_category_id, options_from_collection_for_select(QuestionCategory.all, "id", "name") %>
         <div class="slt-div"></div>
         <ul class="slt-cat-hold">

         </ul>
       </div>
       <div class="input-holder">
         <label><%= t('title')%></label>
         <%= f.text_field:name %>
       </div>
       <div class="input-holder">
         <label><%= t('message')%></label>
          <%= f.text_area:body %>

       </div>

      <% end  %>

  </div>

  <div class="popup-bot-holder"></div>
</div>