<%#= javascript_include_tag "jquery-ui-1.8.17.custom.min"%>
<%= render :partial => "shared/top_search_ box" %>
<div class="content-holder">
  <div class="group-result">
    <div class="groups-jobs-left">
      <% if @group.present? %>
          <div class="admin-hold">
            <div class="admin-top-hold"><h1><%= @group.name %> Administrator </h1></div>
            <div class="admin-mid-hold">
              <div class="admin-name"><%= @group.owner.name %></div>
              <div class="admin-link"><%= link_to "Contact administrator #{@group.owner.email}" %></div>
            </div>
            <div class="admin-bot-hold"></div>
          </div>

          <div class="admin-hold">
            <div class="admin-top-hold"><h1>featured members </h1></div>
            <div class="admin-mid-hold">

              <% unless @group.users.blank? %>
                  <% @group.users.each_with_index do |group_user,i| %>
                    <% if i <= 2 %>

                      <div class="admin-profile">
                        <div class="admin-profile-left">
                          <% unless user_image(group_user).blank?  %>

                              <%= image_tag user_image(group_user).photo.url %>
                          <% else %>
                              <%= image_tag asset_path "dashboard-img.png" %>
                          <% end %>
                          <% end %>
                        </div>
                        <div class="admin-profile-right">
                          <% if group_user.profile.blank? %>
                              <h1><%= group_user.name %> </h1>


                          <% else %>
                              <h1><%= group_user.profile.full_name %> </h1>


                          <% end %>


                        </div>
                      </div>
                  <% end %>
                  <div class="admin-link"><%= link_to "View All Members",  group_members_groups_path(:id => @group.id), :class => "members_link"%></div>
              <% else %>
                  <div class="admin-profile">
                    <div class="admin-profile-left"></div>
                    <div class="admin-profile-right">


                      <h1>Currently no registered user </h1>


                    </div>
                  </div>
              <% end %>




            </div>
            <div class="admin-bot-hold"></div>
          </div>

          </div>


          <div class="groups-mid-cont">
            <div class="join-request">
              <%= render :partial => "group_description", :locals => { :group => @group } %>
            </div>
            <ul class="group-links mtop20">
              <li class="group-link-act listed"><%= link_to "Wall", group_wall_groups_path(:id => @group.id), :class => "wall_link" %></li>
              <li class="listed"><%= link_to "Description", group_body_groups_path(:id => @group.id), :class => "body-link" %></li>
              <li class="listed"><%= link_to "Members", group_members_groups_path(:id => @group.id, :sid => "members"), :class => "members_link" %></li>
              <li class="listed"><%= link_to "Offers", group_jobs_groups_path(:id => @group.id, :sid => "jobs"), :class => "offers-link" %></li>
              <li class="listed"><%= link_to "Questions", group_question_groups_path(:id =>@group.id, :sid => "questions"), :class =>"questions-link" %></li>
            </ul>

            <div class="groups-line"></div>
            <div class="mid-cont-holder">
              <%# if params[:sid] == "jobs" %>
                  <%#= render :partial => "group_jobs", :locals => { :group => @group } %>
              <%# elsif params[:sid] == "members" %>
                  <%#= render :partial => "group_members", :locals => { :group => @group } %>
              <%# else %>
                  <%= render :partial => "group_wall", :locals => { :group => @group } %>

              <%# end %>
            </div>
      <% end %>
      </div>
      <div class="post-right-cont-hold">
        <h3><span class="red">Group Index</span></h3>
        <% unless @groups.blank? %>
            <ul class="groups-link">
              <% @groups.each do |group| %>
                  <li>
                    <div class="accountants"><%= link_to group.name, group_details_groups_path(:id => group.id) %></div>
                  </li>
              <% end %>
            </ul>

        <% end %>
      </div>

      </div>
</div>
<script type="text/javascript">
    function join_request(gid) {
        var group_id = gid;
    <%if user_signed_in?%>
        $.ajax({
            url:'/groups/request_join?group_id=' + group_id, type:'get',
            processData:false,
            data:$(this).serialize(),
            dataType:"json",
            success:function (data) {

                $(".join-request").html(data.html);
            }});
        return false;

    <%else%>
        window.location.href = "/groups/faker_join?id=" + group_id;
    <%end%>
    }
    $("a.members_link").click(function () {
        $(this).removeClass("group-link-act");
        $(this).parent(".listed").prevAll(".listed").each(function () {
            $(this).removeClass("group-link-act");

        });
        $('.content-holder').find('.group-link-act').removeClass('group-link-act');
        $(this).parent(".listed").addClass("group-link-act");

        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                $("#group-link-act").removeClass("group-link-act");
                return $(".mid-cont-holder").html(response.html);
            }
        });
        return false;
    });
    $("a.offers-link").click(function () {
        $(this).removeClass("group-link-act");
        $(this).parent(".listed").prevAll(".listed").each(function () {
            $(this).removeClass("group-link-act");

        });
        $('.content-holder').find('.group-link-act').removeClass('group-link-act');
        $(this).parent(".listed").addClass("group-link-act");


        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                return $(".mid-cont-holder").html(response.html);
            }
        });
        return false;
    });
    $("a.wall_link").click(function () {
        $(this).removeClass("group-link-act");
        $(this).parent(".listed").prevAll(".listed").each(function () {
            $(this).removeClass("group-link-act");

        });
        $('.content-holder').find('.group-link-act').removeClass('group-link-act');
        $(this).parent(".listed").addClass("group-link-act");


        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                return $(".mid-cont-holder").html(response.html);
            }
        });
        return false;
    });
    $("a.questions-link").click(function () {
        $(this).removeClass("group-link-act");
        $(this).parent(".listed").prevAll(".listed").each(function () {
            $(this).removeClass("group-link-act");

        });
        $('.content-holder').find('.group-link-act').removeClass('group-link-act');
        $(this).parent(".listed").addClass("group-link-act");
        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                return $(".mid-cont-holder").html(response.html);
            }
        });
        return false;
    });

    $("a.body-link").click(function () {
        $(this).removeClass("group-link-act");
        $(this).parent(".listed").prevAll(".listed").each(function () {
            $(this).removeClass("group-link-act");

        });
        $('.content-holder').find('.group-link-act').removeClass('group-link-act');
        $(this).parent(".listed").addClass("group-link-act");
        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                return $(".mid-cont-holder").html(response.html);
            }
        });
        return false;
    });

</script>



