<%= javascript_include_tag "jquery-1.4.4.min", "jquery-ui-1.8.17.custom.min", "jquery.pagination", "jquery.rating" %>
<%= javascript_include_tag "hoverIntent.js", "superfish.js" %>
<%= stylesheet_link_tag "pagination", "jquery.ui.datepicker", "jquery.rating" %>
<%= render :partial => "shared/top_search_ box" %>
<div class="content-holder">

  <div class="basic-info mtop10">
    <h1><span class="red"><%= t('Groups.group')%></span></h1>
    <%= image_tag asset_path 'basic-info-bot-bar.png' %>

  </div>

  <div class="w100">
    <div class="dashboard-left mtop10">
      <div class="adds-holder">
        <%= image_tag asset_path 'adds-holder-img.png' %>

      </div>
      <div class="adds-holder">
        <%= image_tag asset_path 'adds-holder-img.png' %>

      </div>


    </div>

    <div class="dashboard-right">

      <div class="w100 mtop10">
        <div class="search-field">
          <%= render :partial => "search_group" %>
        </div>
        <div class="btn_holder">

          <div class="btn_mid_holder">
          </div>

        </div>
      </div>

      <div class="w100">
        <div id="container">
          <div class="dashboard-heading mtop10">
            <div class="name"><%= t('name') %></div>
            <div class="description"><%= t('description') %></div>
            <div class="salary"><%= t('Groups.salary') %></div>
            <div class="rating"><%= t('Groups.rating') %></div>
          </div>
          <div id="Pagination" class="pagaination-holder"></div>
          <br style="clear:both;"/>

          <div id="Searchresult">
          </div>
          <div id="group_div">


            <script type="text/javascript">
                $(document).ready(function () {

                });

            </script>

            <%= render :partial => "group_holder", :locals => { :groups => @groups } %>
          </div>

        </div>

        <div class="w100 mtop10">
          <div class="btn_holder">
            <div class="btn_mid_holder">

            </div>

          </div>
        </div>


      </div>


    </div>


  </div>

</div>

<div id="salary_result_holder"></div>
