<%= javascript_include_tag "hoverIntent.js", "superfish.js" %>

<div class="logo">
  <%= link_to image_tag(asset_path 'logo.png'), root_url %>
</div>

<div class="language">
  <%= link_to image_tag(asset_path 'flag-1.png'), change_laguage_home_index_path(:locale => "en") %>
  <%= link_to image_tag(asset_path 'flag-2.png'), change_laguage_home_index_path(:locale => "fr") %>
</div>

<ul class="sf-menu">

  <% if user_signed_in? %>
      <li id="find" class="<%= params[:action] == "dashboard" ? 'active' : '' %>">
        <%= link_to "Home", "/#{current_user.role}/dashboard" %>
      </li>
  <% end %>
  <li id="home" class="<%= params[:controller] == "home" && params[:action] == "index" ? 'active' : '' %>">


    <%= link_to t('header.find_jobs'), root_url %>
  </li>
  <li id="group" class="<%= params[:controller] == "groups" ? 'active' : '' %>">
    <%= link_to t('header.group'), "javascript:void(0)" %>
    <ul>
      <li>  <%= link_to "School Group", groups_path(:locale => "school") %> </li>
      <li>  <%= link_to "Job Group", groups_path(:locale => "job") %> </li>
    </ul>
  </li>
  <li id="theses" class="<%= params[:controller] == "theses" ? 'active' : '' %>">
    <%= link_to "Thesis", theses_path() %>
  </li>
  <li id="project" class="<%= params[:controller] == "projects" ? 'active' : '' %>">
    <%= link_to "Projects", projects_path() %>
  </li>

  <% unless user_signed_in? %>
      <li id="register" class="<%= params[:controller] =="users/registrations" ? 'active' : '' %>">
        <%= link_to t('Register'), sign_up_path() %>
      </li>

  <% end %>

  <li id="news" class="<%= params[:controller] == "news" && params[:action] == "index" ? 'active' : '' %>">
    <%= link_to "News", news_index_path() %>
  </li>
</ul>

<div class="login-holder">
  <% if user_signed_in? %>
      <div class="welcome">welcome, <span class="bold"><%= current_user.name %></span></div>
      <ul class="setting">
        <% profile_url = current_user.profile.present? ? profile_path(current_user.profile) : new_profile_path %>
        <% if current_user.role =="employer" %>
            <li><%= link_to "Order", employer_packages_employer_index_path() %> |</li>
        <% end %>
        <li><%= link_to "Message "+"[#{current_user.inbox.find_all_by_opened(:false).count}]", messages_path(), :class =>"messages_path" %>
          |
        </li>
        <li><%= link_to t('home_account'), profile_url %> |</li>
        <li><%= link_to "Help" %> |</li>
        <li><%= link_to t('home_logout'), sign_out_path %></li>

      </ul>
  <% else %>
      <% @user = User.new %>
      <%= form_for(@user, :as => @user, :url => session_path(@user)) do |f| %>
          <div class="login-input">
            <%= f.email_field :email %>
          </div>
          <div class="login-password">
            <%= f.password_field :password %>
            <%= f.submit "Login" %>
          </div>
      <% end %>
      <div class="recovery">
        <%= link_to t('header.forgot_password'), password_recovery_path %>
      </div>
  <% end %>
</div>
<%= hidden_field_tag "active_tab", nil %>
<script type="text/javascript">

    var selected_tab = $(".active").attr("id");

    jQuery(function () {
        jQuery('ul.sf-menu').superfish();
    });


    var active;
    $(".sf-menu li").hover(

            function () {

                $(".active").each(function() {
                    $(this).removeClass("active");
                });
                $(this).addClass("active");
//                var ab = $("#active_tab").val();
//
//
//
//
//                //alert("------"+ab);
//                if (ab == null  || ab == "") {
//                  //  alert(1);
//                    $("#home").removeClass("active");
//                }
//                else
//                {
//                    $("#" + ab).removeClass("active");
//                }
            },
            function () {
                $(".active").each(function() {
                    $(this).removeClass("active");
                });
                $("#" + selected_tab).addClass("active");
////
//                var abc = $("#active_tab").val();
//                if (abc == null || abc == "") {
//                    $("#home").addClass("active");
//                }
//                else{
//                    $("#" + abc).addClass("active");
//                }

            }
    );

</script>

