<div class="logo">
	<%= link_to image_tag(asset_path 'logo.png'), root_url %>
</div>
<div class="language">
	<label><%= t('header.language') %></label>
	<%= link_to image_tag(asset_path 'flag-1.png'), change_laguage_home_index_path(:locale => "en") %>
	<%= link_to image_tag(asset_path 'flag-2.png'), change_laguage_home_index_path(:locale => "fr") %>
</div>

<ul class="jobs-holder">
	<li class="active"><%= link_to t('header.find_jobs') %></li>
	<li><%= link_to t('header.news') %></li>
	<li><%= link_to t('header.job_seeker') %></li>
	<li><%= link_to t('header.employer') %></li>
</ul>