<div class="logo">
	<%= link_to image_tag(asset_path 'logo.png'), root_url %>
</div>

<div class="language">
	<div id="google_translate_element"></div>
	<script language="JavaScript">
		function googleTranslateElementInit() {
		new google.translate.TranslateElement({
    pageLanguage: 'en',
    includedLanguages: 'en,fr',
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
		}, 'google_translate_element');
		}
	</script>
</div>

<ul class="jobs-holder">
	<% if user_signed_in? %>
		<li class="<%= params[:action] == "dashboard" ? 'active' : '' %>">
			<%= link_to "Home", "/#{current_user.role}/dashboard" %>
		</li>
	<%end%>
	<li class="<%= params[:controller] == "home" && params[:action] == "index" ? 'active' : '' %>">
		<%= link_to "Find Jobs", root_url %>
	</li>
	<li><%= link_to "News","javascript:void(0)" %></li>
	<% unless user_signed_in? %>
		<li class="<%= params[:role].present? && params[:role] == "job_seeker" ? 'active' : '' %>">
			<%= link_to "Job Seeker", sign_up_path(:role => "job_seeker") %>
		</li>
		<li class="<%= params[:role].present? && params[:role] == "employer" ? 'active' : '' %>">
			<%= link_to "Employer", sign_up_path(:role => "employer") %>
		</li>
	<%end%>
</ul>

<div class="login-holder">
	<% if user_signed_in? %>
		<div class="welcome">welcome, <span class="bold"><%= current_user.name %></span></div>
		<ul class="setting">
			<% profile_url = current_user.profile.present? ? profile_path(current_user.profile) : new_profile_path %>
			<li><%= link_to "Account", profile_url  %> | </li>
			<li><%= link_to "Help" %> | </li>
			<li><%= link_to "Logout", sign_out_path %></li>
		</ul>
	<%else%>
		<% @user = User.new %>
		<%= form_for(@user, :as => @user, :url => session_path(@user)) do |f| %>
			<div class="login-input">
				<%= f.email_field :email %>
			</div>
			<div class="login-password">
				<%= f.password_field :password %>
				<%= f.submit "Login" %>
			</div>
		<%end%>
	<%end%>
</div>

