<div class="banner-holder">
  <div class="reg-banner-left-holder"></div>
  <div class="reg-banner-mid-holder">
    <%= form_tag "/search/search", :id => "rg-search-form" do %>
        <div class="register-holder">
          <div class="register-top-holder">Job Search</div>
          <div class="register-mid-holder">
            <div class="reg-input-holder">
              <label><%= t('home_job_search_title') %></label>
              <%= text_field_tag "name" %>
            </div>

            <div class="reg-select-holder">
              <label><%= t('home_job_search_category') %></label>
              <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name"), :class =>"reg-slt-div" %>
            </div>
            <div class="reg-location-holder">
              <label>Location</label>
              <%= render :partial => "shared/countries" %>

              <div id="regions_search">
                <%= render :partial => "shared/regions" %>
              </div>
              <div id="cities_search">
                <%= render :partial => "shared/cities" %>
              </div>
            </div>
            <div class="reg-button-holder">
              <div class="reg-advanced-search"><%= link_to "Advanced Search" %></div>
              <div class="reg-findjob"><%= link_to t('button.find_job'), "javascript:void(0)", :id => "rg_find_job_button" %></div>
            </div>
          </div>
          <div class="register-bot-holder"></div>
        </div>
    <% end %>
  </div>
  <div class="reg-banner-right-holder"></div>
</div>