<div class="banner-right">
	<div class="job-search-top-holder"><%= t('home_job_search') %></div>
	<div class="job-search-mid-holder">
		<%= form_tag "/search/search", :id => "search-form" do %>
			<div class="input-holder">
				<label><%= t('home_job_search_title') %></label>
				<%= text_field_tag "title"%>
			</div>
			<div class="select-holder">
				<label><%= t('home_job_search_category') %></label>
				<div class="slt-div"></div>
				<ul class="slt-cat-hold">
					<li><a href="#">select job</a></li>
					<li><a href="#">select job</a></li>
					<li><a href="#">select job</a></li>
				</ul>
			</div>

			<div class="select-holder">
				<label><%= t('home_job_search_location') %></label>
				<div class="slt-div"></div>
				<ul class="slt-cat-hold">
					<li><a href="#">select job</a></li>
					<li><a href="#">select job</a></li>
					<li><a href="#">select job</a></li>
				</ul>
				<div class="slt-div mtop9"></div>
				<ul class="slt-cat-hold">
					<li><a href="#">select job</a></li>
					<li><a href="#">select job</a></li>
					<li><a href="#">select job</a></li>
				</ul>
				<div class="slt-div mtop9"></div>
				<ul class="slt-cat-hold">
					<li><a href="#">select job</a></li>
					<li><a href="#">select job</a></li>
					<li><a href="#">select job</a></li>
				</ul>
			</div>
			<div class="advanced-search"><%= link_to t('home_job_advance_search') %></div>
			<div class="findjob"><%= link_to t('button.find_job') ,"javascript:void(0)", :id => "find_job_button" %></div>
		<%end%>
	</div>
	<div class="job-search-bot-holder"></div>
</div>