<div class="banner-right">
	<div class="job-search-top-holder">Job Search</div>
	<div class="job-search-mid-holder">
		<%= form_tag "/search/search", :id => "search-form" do %>
			<div class="input-holder">
				<label>Job Title</label>
				<%= text_field_tag "name"%>
			</div>
			<div class="select-holder">
				<label>Job Category</label>
				<%= select_tag "category_id", options_from_collection_for_select(@categories, "id", "name"), :class =>"slt-div" %>
			</div>

			<div class="select-holder">
				<label>Location</label>
				<%= render :partial => "shared/countries" %>
				<div id="regions">
					<%= render :partial => "shared/regions" %>
				</div>
				<div id="cities">
					<%= render :partial => "shared/cities" %>
				</div>
			</div>
			<div class="advanced-search"><%= link_to "Advance Search" %></div>
			<div class="findjob"><%= link_to "Find Job" ,"javascript:void(0)", :id => "find_job_button" %></div>
		<%end%>
	</div>
	<div class="job-search-bot-holder"></div>
</div>