<%= javascript_include_tag "jquery.form-new" %>
<div class="content-left-holder">
  <div class="shadow"></div>
  <div class="popup-hold">
    <div class="popup-top-holder"><%= t('News.suggest') %></div>
    <div class="popup-mid-holder ">
      <%= form_for :news, :url => { :action => 'submit_news' }, :html => { :id => 'answer_form' }, :remote => true do |f| %>
          <div id="form-errors"></div>
          <div class="input-holder" style="width:59%;">
            <div class="input-holder">
              <label><%= t('title') %></label>
              <%= f.text_field :title %>
            </div>
            <div class="input-holder">
              <label><%= t('news_category') %></label>
              <%= f.select :news_category_id, options_for_select([["Select", ""]] + @news_categories.map { |news_category| [news_category.name, news_category.id] }, @news.news_category_id) %>
            </div>

            <div class="form-input">
              <label><%= t('News.picture') %></label>
              <%= fields_for :picture do |image| %>
                  <%= image.file_field :image %>
              <% end %>
            </div>
            <div class="input-holder-new">
              <label><%= t('message') %></label>

              <%= f.text_area :body %>
            </div>
          </div>


          <div class="pop-up-btn-new">
            <div id="application_job" class="pop-up-btn"><%= t('News.suggest') %></div>
            <div id="exit_job" class="pop-up-btn" onclick="close_popup()"><%= t('exit') %></div>
          </div>

      <% end %>
    </div>

    <div class="popup-bot-holder"></div>
  </div>

</div>


<script type="text/javascript">


    $("#application_job").click(function () {
        $('#answer_form').ajaxSubmit({
            beforeSubmit:function (a, f, o) {
                o.dataType = 'html';
            },
            success:function (data) {
                if (data.substring(9, 18) == "error_div") {
                    $("#form-errors").html(data);
                } else {
                    close_popup();

                }
            }
        });
        return false;
    });


    function close_popup() {
        $(".content-left-holder").hide();
    }
    //    $("#application_job").click(function () {
    //        $('#answer_form').ajaxSubmit({
    //            success:function (data) {
    //                if (data.substring(9, 18) == "error_div") {
    //                    $("#form-errors").html(data);
    //                } else {
    //                    close_popup();
    //
    //                }
    //            }
    //
    //        });
    //        return false;
    //    });


</script>