<div class="mid-cont-holder">
  <div class="post-hold">

    <div class="post-right-hold">
      <%= form_for :comment, :url => { :action => 'news_comment' }, :html => { :id => 'add_news_comment_form', :onsubmit => "return false;" } do |f| %>
          <%#= f.text_area :comment,:rows => 8 %>
          <%= f.text_area :comment, :rows => 10, :cols => 20 %>
          <%= hidden_field_tag :news_id, @news.id %>
          <%= link_to t('post'), "javascript:void(0)", :id => "add_comment_button" %>

      <% end %>
    </div>

  </div>
  <div class="comment-holder" style="clear: both;padding-top: 25px;">
    <% if @news.comments.present? %>
        <% @news.comments.each do |comment| %>

            <div class="w100 mtop20">
              <div class="post-left-hold" style="width: 84px;">
                <div class="user_image">
                  <% if comment_image(comment) %>
                      <%= image_tag comment_image(comment).photo.url %>
                  <% else %>

                      <%= image_tag asset_path "dashboard-img.png" %>
                  <% end %>
                </div>
              </div>
              <div class="post-cont-hold" style="overflow: hidden;">
                <h1><%= comment.user.name %></h1>
               <span style="width:200px; ">
                <%=raw sanitize(simple_format(comment.comment), :tags => %w(br p)) %>

               </span>
                <div class="like-hold"><!--<a href="#">Like</a> -->
                  <%= time_ago_in_words(comment.created_at) %> ago
                </div>
              </div>
            </div>

        <% end %>

    <% end %>
  </div>

</div>


<script type="text/javascript">

    $("#add_comment_button").click(function () {

        <% if user_signed_in? %>
        {
            $.post($("form#add_news_comment_form").attr("action"), $("form#add_news_comment_form").serialize(), (function (response) {
                return $("#news_com_wall").html(response.html);
            }), "json");
            return false;
        }

        <%else%>
        {
            alert("Please sign up before posting");
        }
        <%end%>
    });


</script>