<div class="mid-cont-holder">
  <div class="post-hold">

    <div class="post-right-hold">
      <%= render :partial => "news/news_comment", :locals => { :comment => @comment, :news => @news } %>
    </div>

  </div>
  <div class="comment-holder">
    <% if @news.comments.present? %>
        <% @news.comments.each do |comment| %>

            <div class="w100 mtop20">
              <div class="post-left-hold" style="width: 84px;">
                <div class="user_image">
                  <% if comment_image(comment) %>
                      <%= image_tag comment_image(comment).photo.url %>
                  <% else %>

                      <%= image_tag asset_path "dashboard-img.png" %>
                  <% end %>
                </div>
              </div>
              <div class="post-cont-hold">
                <h1><%= comment.user.name %></h1>

                <p><%= comment.comment %> </p>

                <div class="like-hold"><!--<a href="#">Like</a> -->
                  <%= time_ago_in_words(comment.created_at) %> ago
                </div>
              </div>
            </div>

        <% end %>

    <% end %>
  </div>

</div>