<%= render :partial => "shared/top_search_ box" %>
<div class="content-holder">
  <div class="basic-info mtop10">
    <h1><span class="red"><%= t('News.news')%></span></h1>
    <%= image_tag asset_path 'basic-info-bot-bar.png' %>

  </div>
  <div class="left-content">
    <div class="left-detail">
      <%= image_tag asset_path 'adds-holder-img.png' %>
    </div>
    <p></p>
  </div>


  <!--left-content ends-->

  <div class="right-content">
    <div class="basic-info mtop10">
      <h1><span class="red"></span></h1>
    </div>
    <div class="suggest-a-news" style="margin-bottom: 10px;  margin-right: 9px;" onclick="suggest_news()"><%= t('News.suggest')%></div>
    <div class="right-content-detail" style="width: 710px;">

      <% unless @news.blank? %>
          <% @news.each do |new| %>

              <div class="content-detail">
                <div class="img_detail">
                  <% if new.photo != nil %>

                      <%= image_tag new.photo.image.url %>
                  <% else %>
                      <%= image_tag "/assets/dashboard-img.png" %>
                  <% end %>
                </div>
                <h1><%= new.title %> </h1>

                <p><%= new.created_at %></p>

                <div class="p-style-detail">
                  <%= new.body %>
                </div>
                <%= link_to "See the news", news_path(:id => new.id) %>

              </div>
          <% end %>

          </div><!--right-content ends-->
      <% end %>


      </div>
</div>
<div id="popup_holder"></div>

<script language="JavaScript">

    function suggest_news() {
        url = "news/suggest_news";
        $.ajax({
            context:this,
            url:url,
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                $("#popup_holder").html(response.html);
            }
        });
        return false;


    }


</script>