<%= javascript_include_tag "news" %>
<%= render :partial => "shared/top_search_ box" %>

<div class="basic-info mtop10">
  <h1><span class="red"><%= t('News.news') %></span></h1>
  <%= image_tag asset_path 'basic-info-bot-bar.png' %>

</div>
<div class="left-content">
  <div class="left-detail">
    <%= image_tag asset_path 'adds-holder-img.png' %>
  </div>
  <p></p>
</div>


<!--left-content ends-->

<div class="right-content">
  <div class="basic-info mtop10">
    <ul class="group-links mtop20">
      <li class="group-link-act listed" onclick="fetch_news(0,'all',this)"><%= link_to t('all'), "javascript:void(0);" %></li>
      <% @news_categories.each do |new_category| %>
          <li class="listed" onclick="fetch_news(<%= new_category.id %>, 'category',this)"><%= link_to new_category.name, "javascript:void(0);" %></li>
      <% end %>
    </ul>
  </div>
  <div style="float:left; width: 100%;">
    <div class="suggest-a-news" style="margin-bottom: 10px;  margin-right: 9px;" onclick="suggest_news()"><%= t('News.suggest') %></div>
  </div>
  <%= render :partial => "news/news_index", :locals => { :news => @news } %>


</div>

<div id="popup_holder"></div>

<script language="JavaScript">

    function suggest_news() {
        url = "news/suggest_news";
        $.ajax({
            context:this,
            url:url,
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                $("#popup_holder").html(response.html);
            }
        });
        return false;


    }

//    function fetch_news(news_id, type, obj) {
//        $('.basic-info').find('.group-link-act').removeClass('group-link-act');
//        $(obj).addClass('group-link-act');
//        $.ajax({
//            context:obj,
//            url:"news/fetch_news?news_id=" + news_id + "&type=" + type,
//            type:"GET",
//            data:$(obj).serialize(),
//            dataType:"json",
//            success:function (response) {
//                $("#group-link-act").removeClass("group-link-act");
//                $("#main_news_page").html(response.html);
//
//            }
//        });
//        return false;
//    }

    //    $("#application_job").click(function () {


    function close_popup() {
        $(".content-left-holder").hide();
    }

</script>