<%= javascript_include_tag "jquery-1.4.4.min", "jquery.rating", "jquery.pajinate", "superfish.js" %>
<%= stylesheet_link_tag "jquery.rating" %>
<%= render :partial => "shared/top_search_ box" %>
<div class="content-holder">
  <div class="basic-info mtop10">
    <h1><span class="red"><%= t('News.news') %></span></h1>
    <%= image_tag asset_path 'basic-info-bot-bar.png' %>

  </div>
  <div class="left-content">
    <div class="left-detail">
      <%= image_tag asset_path 'adds-holder-img.png' %>
    </div>
    <p></p>
  </div>


  <!--left-content ends-->

  <div class="right-content">
    <div class="basic-info mtop10">
      <h1><span class="red"></span></h1>
      <%= url_for(:only_path => false) %> <br/>
      <%= @news.news_category.name %>|<%= @news.title %>
    </div>


    <div class="news_date">
      <%= @news.news_category.nil? ? "" :link_to(@news.news_category.name, "javascript:void(0);")+ " >> " + " Posted on " + @news.created_at.strftime('%a, %m/%d/%Y') + " AT " + @news.created_at.strftime('%HH%M') + " by " %>
      <%= @news.user.nil? ? "" : @news.user.email %>
    </div>

    <div class="rating-hold" id="rating_hold" style="width: 30%;">

      <p style="margin:5px 0px 0px 5px; color:#656565; width: 150px;">

        <select name="myRating" class="active_rating" id="serialStar_group_<%= @news.id %>">

          <option value="1" <%= @news.rating.rate.to_i == 1 ? "selected='yes'" :"" %>>very weak
          </option>
          <option value="2" <%= @news.rating.rate.to_i == 2 ? "selected='yes'" :"" %>>weak</option>
          <option value="3" <%= @news.rating.rate.to_i == 3 ? "selected='yes'" :"" %>>average</option>
          <option value="4" <%= @news.rating.rate.to_i == 4 ? "selected='yes'" :"" %>>strong</option>
          <option value="5" <%= @news.rating.rate.to_i == 5 ? "selected='yes'" :"" %>>very
            strong
          </option>
        </select>
      </p>
      <%= @news.comments.count %>  Comments


      <script type="text/javascript">

          $("#serialStar_group_<%= @news.id %>").rating();
          var counter = 0;
          $("#serialStar_group_<%= @news.id %>").siblings(".ui-rating").each(function () {
              if (counter != 0) {
                  $(this).remove();
              }
              counter = counter + 1;
          });
          $("#serialStar_group_<%= @news.id %>").bind("change", function () {
              var rate = $('#serialStar_group_<%= @news.id %>').serialize().split("=");

              var i = 1;
              for (i; i <= 5; i++) {
                  if (i <= parseInt(rate[1])) {
                      $("#changer_group_<%= @news.id %>_" + i).attr("src", "/assets/star_icon_golden.png");
                  }
                  else {
                      $("#changer_group_<%= @news.id %>_" + i).attr("src", "/assets/star_icon_black.png");
                  }
              }
              $.ajax({
                  url:'/news/set_news_rating?news_id=<%= @news.id %>&rate=' + rate[1], type:'get', dataType:'html',
                  processData:false,
                  success:function (data) {

                  }
              });
          });
      </script>

    </div>
    <div class="right-content-detail" style=" width: 712px;">
      <% current_url_without_uri = request.protocol+request.host_with_port %>
      <% shorten_url = ("#{current_url_without_uri}/news/#{@news.id}") %>

      <div class="network-holder" id="network-holder">
      </div>

      <div class="content-detail">
        <div class="img_detail">
          <% if @news.photo != nil %>
              <%= image_tag @news.photo.image.url %>
          <% else %>
              <%= image_tag "/assets/dashboard-img.png" %>
          <% end %>

        </div>
        <h1><%= @news.title %> </h1>

        <p><%= @news.created_at.strftime("%d-%m-%Y") %></p>

        <div class="p-style-detail">
          <%= @news.body %>
        </div>
      </div>
    </div>
    <!--right-content ends-->
    <div id="news_com_wall">
      <%= render :partial => "news_wall", :locals => { :news => @news } %>
    </div>
  </div>
</div>

<script type="text/javascript">

    $("#add_comment_button").click(function () {
        <% if user_signed_in? %>
        {
            $.post($("form#add_news_comment_form").attr("action"), $("form#add_news_comment_form").serialize(), (function (response) {
                return $("#news_com_wall").html(response.html);
            }), "json");
            return false;
        }

        <%else%>
        {
            alert("Please sign up before posting");
        }
        <%end%>
    });

    $(document).ready(function () {
        var menuPlaceholder = document.getElementById('network-holder');
        newNode = document.createElement('div');
        newNode.id = 'social_media_toolbox';
        newNode.innerHTML = ' <div class="addthis_toolbox addthis_default_style " addthis:description="<%= @news.title %> Discusses the issue <%= @news.title %>. Please click on the links to view the details." addthis:title="<%= @news.title %>" addthis:url="<%= shorten_url %>"> <a class="addthis_button_facebook"></a> <a class="addthis_button_twitter"></a><a class="addthis_button_email"></a><a class="addthis_button_linkedin"></a><a class="addthis_button_print"></a><span class="addthis_separator">|</span><a href="http://www.addthis.com/bookmark.php?v=250&pubid=ra-4f0dccb34198a7b3" class="addthis_button_compact">Share</a><div>';

        menuPlaceholder.parentNode.insertBefore(newNode, menuPlaceholder.nextSibling);

        addthisScript = document.createElement('script');
        addthisScript.src = 'http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f0dccb34198a7b3&domready=1';
        document.body.appendChild(addthisScript);

    });


</script>

