<div class="dashboard-content-right" style="float: left;">
  <%= form_for(@project, :html => { :multipart => true }) do |f| %>
      <% if @project.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
            <ul>
              <% @project.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="head-text"></div>
      <div class="project-inputs">
        <label><%= t('Project.name') %></label>
        <%= f.text_field :name %>
      </div>
      <!--projects input ends-->
      <div class="project-inputs">
        <label><%= t('Project.small_description') %></label>
        <%= f.text_field :tag_line %>
      </div>
      <!--projects input ends-->
      <div class="project-inputs">
        <label><%= t('Project.picture') %></label>
        <%= fields_for :photo do |image| %>
            <%= image.file_field :image %>
        <% end %>
      </div>

      <div class="project-inputs">

        <label><%= t('profiles.country') %></label>

        <div id="country_project">
          <%= render :partial => "shared/countries", :locals => { :object_collection => "project" } %>
        </div>
      </div>
      <!--projects input ends-->
      <div class="project-inputs">
        <label><%= t('profiles.region') %></label>

        <div id="regions_project">
          <%= render :partial => "shared/regions", :locals => { :object_collection => "project" } %>
        </div>
      </div>
      <!--projects input ends-->
      <div class="project-inputs">
        <label><%= t('profiles.city') %></label>

        <div id="cities_project">
          <%= render :partial => "shared/cities", :locals => { :object_collection => "project" } %>
        </div>
      </div>
      <!--projects input ends-->
      <div class="project-select">
        <label>Choice Industry</label>

        <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name") %>
      </div>
      <!--project-select ends-->

      <div class="project-select">
        <label><%= t('Project.social_links') %></label>

        <div class="socialz">
          <img src="/assets/twitter.png"/>
          <span>twitter/</span>
          <%= f.text_field :twitter_link %>
        </div>
        <div class="socialz">
          <img src="/assets/blog.png"/>
          <span>http://</span>
          <%= f.text_field :dig_link %>
        </div>
        <div class="socialz">
          <img src="/assets/world.png"/>
          <span>http://</span>
          <%= f.text_field :aol_link %>
        </div>
      </div>
      <!--project-select ends-->
      <div class="project-inputs">
        <label><%= t('Project.skills') %></label>
        <%= f.text_field :skill %>
      </div>
      <div class="presentation">
        <div class="present-detail">
          <label><%= t('Project.presentation') %></label>

          <div class="present-box">
            <div class="box-left"></div>
            <div class="box-mid">

              <p><%= f.text_area :description, :rows => 20, :cols => 40 %></p></div>
            <div class="box-right"></div>
          </div>
          <!--present-box ends-->
        </div>
        <!--present-detail ends-->
      </div>
      <!--presentation ends-->
      <div class="presentation">
        <div class="present-detail">
          <label><%= t('Project.field_search') %></label>

          <div class="present-box">
            <div class="box-left"></div>
            <div class="box-mid">
              <p><%= f.text_area :research, :rows => 20, :cols => 40 %></p></div>
            <div class="box-right"></div>
          </div>
          <!--present-box ends-->
        </div>
        <!--present-detail ends-->
      </div>
      <!--presentation ends-->
      <div class="save-button-new"><%= f.submit "Create Project" %></div>
  <% end %>
</div>
<!--dashboard-content-right ends-->

<script type="text/javascript">
    tinyMCE.init({
        mode:'textareas',
        theme:'advanced',
        theme_advanced_toolbar_location:"top",
        theme_advanced_statusbar_location:"bottom",
        plugins:"contextmenu",
        theme_advanced_disable:"image"
    });

</script>