<div class="w100">
  <%= form_for(@project) do |f| %>
      <% if @project.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
              <% @project.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="w100">
        <div class="profile-left-div">
          <div class="profile-input mtop20">
            <label>Name of project</label>
            <%= f.text_field :name %>
          </div>
          <div class="profile-input mtop20">
            <label>Tagline</label>
            <%= f.text_field :tag_line %>
          </div>

          <div class="contract-field">
               <label>Industry</label>
               <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name") %>
             </div>

          <div class="profile-input mtop20">
            <label>Twitter link</label>
            <%= f.text_field :twitter_link %>
          </div>
          <div class="profile-input mtop20">
            <label>Dig Link</label>
            <%= f.text_field :dig_link %>
          </div>
          <div class="profile-input mtop20">
            <label>Aol Link</label>
            <%= f.text_field :dig_link %>
          </div>
          <div class="profile-input mtop20">
            <label><%= t('profiles.region') %></label>

            <div id="regions_project">
              <%= render :partial => "shared/regions", :locals => { :object_collection => "project" } %>
            </div>
          </div>
        </div>
        <div class="profile-right-div">
          <div class="profile-input mtop20">
            <label>Presentation</label>
            <%= f.text_area :description %>
          </div>
          <div class="profile-input mtop20">
            <label>Fields Of Research</label>
            <%= f.text_area :research %>
          </div>

          <div class="profile-input mtop20">
            <label><%= t('profiles.country') %></label>

            <div id="country_proejct">

              <%= render :partial => "shared/countries", :locals => { :object_collection => "project" } %>
            </div>
          </div>


          <div class="profile-input mtop20">
            <label><%= t('profiles.city') %></label>

            <div id="cities_project">
              <%= render :partial => "shared/cities", :locals => { :object_collection => "project" } %>
            </div>
          </div>
        </div>
      </div>
   </div>
        <%= f.submit "save"%>
  <% end %>





