<div class="content-left-holder">
  <div class="shadow"></div>
  <div class="popup-hold">

    <div class="popup-top-holder"><%= t('Project.project_invite_user')%></div>
    <div class="popup-mid-holder ">
      <% unless @users.blank? %>
          <% @users.each do |user| %>
              <%# if @project.is_member(user.id)%>
              <div id="main_div" style="width: 100px;float: left;">
                <div id="inivite" style="float: left;">
                  <%= check_box_tag "invitation",user.id , false,:user_id =>user.id, :project_id => @project.id, :class => "check_users" %>
                  <br/>
                </div>
                <div class="invitee">
                  <% if user_image(user) %>
                      <%= image_tag user_image(user).photo.url %>
                  <% else %>
                      <%= image_tag asset_path "dashboard-img.png" %>
                  <% end %>
                </div>
                <div><%= user.name %>
                  <br/></div>

              </div>
              <%# end %>
          <% end %>
      <% end %>
      <div class="pop-up-btn-new">
        <div id="exit_job" class="pop-up-btn" onclick="close_popup()"><%= t('exit')%></div>
      </div>


    </div>

    <div class="popup-bot-holder"></div>
  </div>

</div>


<script type="text/javascript">



    $(".check_users").click(function () {
        if ($(this).attr('checked')) {
            url = "/projects/project_invitation?id=" +$(this).attr("project_id") + '&user_id='+ $(this).attr("user_id")+'&add='+1;
                    $.ajax({
                        context:this,
                        url:url,
                        type:"GET",
                        data:$(this).serialize(),
                        dataType:"json",
                        success:function (response) {
                            $("#popup_holder").html(response.html);
                        }
                    });
        }
        else {
            url = "/projects/project_invitation?id=" +$(this).attr("project_id") + '&user_id='+ $(this).attr("user_id")+'&add='+0;
                                $.ajax({
                                    context:this,
                                    url:url,
                                    type:"GET",
                                    data:$(this).serialize(),
                                    dataType:"json",
                                    success:function (response) {
                                        $("#popup_holder").html(response.html);
                                    }
                                });
        }
    });

    function close_popup() {
        $(".content-left-holder").hide();
    }

</script>