<div class="dashboard-content-right">
  <div class="w100">
    <div class="dashboard-post-profile-btn">
    </div>
  </div>
  <!--dashboard-post-profile-btn ends-->
  <div class="dashboard-content">
    <h1><%= t('Project.project')%></h1>
    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <div class="btn-mid-holder_new"><%= link_to t('create_new'), new_project_path(), :class => "create-event", :style => " color: #FFFFFF;text-decoration: none;" %></div>
    <div class="btn-mid-holder"><%= link_to t('view'), projects_path(), :style => " color: #FFFFFF;text-decoration: none;" %></div>
    <p><br/>
    </p>

    <h1><%= t('Employer.employer_my') %><span class="red"> <%= t('Project.project')%></span></h1>
    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <% unless @projects.blank? %>
        <p><%= t('Project.project_numbers')%> <%= @projects.count %></p>
        <table>
          <tr>
            <th> <%= t('Project.name')%></th>
            <th> <%= t('created_at')%></th>
            <th> <%= t('Employer.employer_actions')%></th>
            <th> <%= t('Project.project_invite')%></th>


          </tr>
          <% @projects.each do |project| %>
              <tr>
                <td><%= link_to project.name, project_path(:id => project.id) %></td>
                <td><%= project.created_at.strftime('%Y-%m-%d') %></td>
                <td><%= link_to "Edit", edit_project_path(:id => project.id) %></td>
                <td><%= link_to "Delete", delete_project_projects_path(:id => project.id, :own_id => @job_seeker), :class => "delete_project" %>

              </tr>
          <% end %>
        </table>
    <% else %>
        <p><span><%=t('Employer.employer_no_projects')%>!</span></p>
    <% end %>
  </div>
</div>
<script type="text/javascript">
    $("a.delete_project").click(function () {
        var x = window.confirm("Are you sure You want to Delete this project?")

        if (x == true) {
            $.ajax({
                context:this,
                url:$(this).attr("href"),
                type:"GET",
                data:$(this).serialize(),
                dataType:"json",
                success:function (response) {
                    return $(".dashboard-content-right").html(response.html);
                }

            });

            return false;
        }
        else {
            return false;
        }
    });
    $("a.invite_project").click(function () {
        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                return $(".dashboard-content-right").html(response.html);
            }

        });

        return false;
    });

</script>