<div class="search_result"></div>
<div class="dashboard-right">
  <div class="w100 mtop10">
    <div class="search-field">
      <%= render :partial=> "search_theses" %>
    </div>
  </div>

  <div class="w100">
    <div class="dashboard-heading mtop10">
      <div class="name">Name</div>
      <div class="description">Description</div>
      <div class="salary">No of Pages</div>
      <div class="rating">Published</div>
    </div>
    <% unless @thesis_result.blank? %>
        <% @thesis_result.each do |thesis| %>
            <div class="dashboard-text">
              <div class="name">
                <div class="icon-img"> <%= image_tag asset_path 'icon-img.png' %></div>
                <div class="icon-text">

                  <%= link_to thesis.name, thesis_details_theses_path(:id => thesis.id) %>
                  <p> <%= image_tag asset_path 'mem-icon.png' %>  <%= thesis.users.count %> Members</p>
                </div>
              </div>
              <div class="description-hold"><%= thesis.description %> </div>
              <div class="salary-hold"><%= thesis.no_of_pages %> Euro</div>
              <div class="rating-hold"> <%= thesis.date_of_publish %></div>

            </div>
        <% end %>
    <% else %>

        <h1> No Thesis found Found!!</h1>
        <%= link_to 'Back', theses_path %>


    <% end %>


  </div>
</div>