<div class="dashboard-content-right">
  <h1>Job <span class="red"> Information</span></h1>
  <%= image_tag asset_path 'dashboard-botom-line.png' %>
  <% unless @project.blank? %>
      <p><label>Name:</label>        <%= @project.name %> <br/>

      <p><label>Description:</label> <%= @project.description %></p>  <br/>
      <label>Date of Publication:</label>     <%= @project.date_of_publish.strftime("%d-%m-%Y") %>  <br/>
      <label>No of Pages:</label>        <%= @project.no_of_pages %>  <br/>
      <label>Thesis File Name:</label>        <%= @project.photo.image_file_name %>  <br/>
  <% end %>
</div>

<div class="w100">
  <div class="btn-publish">
    <div class="apply-left"></div>
    <div class="apply-mid"><%= link_to "Done", projects_path(), :class => "job-link", :style=>" color: #FFFFFF;text-decoration: none;" %></div>
    <div class="apply-right"></div>
  </div>
  <div class="btn-apply-change">
    <div class="apply-left"></div>
    <div class="apply-mid"><%= link_to "Personalize this Thesis", edit_project_path(:id =>@project.id), :style=>" color: #FFFFFF;text-decoration: none;" %></div>
    <div class="apply-right"></div>
  </div>


</div>