<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Tag line</th>
    <th>City</th>
    <th>Industry</th>
    <th>Twitter link</th>
    <th>Dig link</th>
    <th>Dig link</th>
    <th>Description</th>
    <th>Research</th>
    <th>Skill</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.tag_line %></td>
    <td><%= project.city %></td>
    <td><%= project.industry %></td>
    <td><%= project.twitter_link %></td>
    <td><%= project.dig_link %></td>
    <td><%= project.dig_link %></td>
    <td><%= project.description %></td>
    <td><%= project.research %></td>
    <td><%= project.skill_id %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
