<%= render :partial => "shared/top_search_ box" %>
<div class="content-holder">
  <div class="basic-info mtop10">
    <h1><span class="red"><%= t('Project.project')%></span></h1>
    <%= image_tag asset_path 'basic-info-bot-bar.png' %>

  </div>
  <div class="left-content">
    <div class="left-detail">
      <%= image_tag asset_path 'adds-holder-img.png' %>
    </div>
    <p></p>
  </div>

  <div class="dashboard-content-right">
    <div class="dashboard-content" style="border-bottom:1px solid #ccc; min-height:50px;width: 674px;">

      <div class="btn" style="float:right;">
        <div class="btn-left-holder"></div>
        <div class="btn-mid-holder"><%= link_to t("create_new"), new_project_path(), :style => "color:#fff; font-weight:bold; text-decoration:none;" %></div>
        <div class="btn-right-holder"></div>
      </div>

    </div>
    <!--dashboard content ends-->

    <div class="buttons w100">
      <h1 style="margin-bottom: 4px;"><%= t('Project.list_project')%></h1>
      <% unless @projects.blank? %>
          <% @projects.each do |project| %>
              <div class="left-holder-img"></div>
              <div class="mid-holder-img">
                <div class="img_detail">
                  <% if project.photo != nil %>
                      <%= image_tag project.photo.image.url %>
                  <% else %>
                      <%= image_tag "/assets/dashboard-img.png" %>
                  <% end %>
                </div>
                <!--img info ends-->
                <h2><%= link_to project.name, project_path(:id => project.id) %></h2>

                <div class="link">
                  <% unless project.category.blank? %>
                      <%= project.category.name %>
                  <% end %>
                </div>
                <p style="width:550px;">  <%=simple_format( project.description) %></p>

                <p style="margin-left:1px; line-height:60px; float:left; margin-right:20px;"><%= project.project_users.find(:all, :conditions => { :is_approved => true }).count %>
                  <%= t('Project.project_members')%></p>
              </div>
              <!--mid holder img ends-->
              <div class="right-holder-img"></div>
              <div class="clear"></div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="popup_holder"></div>
