<%= flash[:notice] %>
<%= render :partial => "shared/top_search_ box" %>

<div class="content-holder">


  <div class="basic-info mtop10">
    <h1><%= t('Project.project')%><span class="red"> <%= t('Project.page')%></span></h1>

    <%= image_tag asset_path 'basic-info-bot-bar.png' %>
  </div>
  <!--9-1-2012 add touseef ahmad-->

  <div id="form">
    <%= render 'form' %>

  </div>

</div>