<%= render :partial => "shared/top_search_ box" %>

<div class="content-holder">


  <div class="basic-info mtop10">
    <h1>Project<span class="red"> Dashboard</span></h1>
    <img src="/assets/basic-info-bot-bar.png" alt=""/>

  </div>
  <!--9-1-2012 add touseef ahmad-->


  <div class="dashboard-info-image">

    <div class="pic-project">
      <% if @project.photo != nil %>
          <%= image_tag @project.photo.image.url %>
      <% else %>
          <%= image_tag "/assets/dashboard-img.png" %>
      <% end %>

      <div class="text-of-pic-project"></div>
    </div>
    <!--pic-project ends-->
    <div class="due-projects">
      <div class="h1" style="margin-top:10px; margin-left:5px; width:300px; "><%= @project.users.count %> Members(s) du
        Projects
      </div>
      <div class="images-detail">

        <% unless @project.users.blank? %>
            <% @project.users.each do |pr_user| %>
                <div class="images">
                  <% if user_image(pr_user) %>
                      <%= image_tag user_image(pr_user).photo.url %>
                  <% else %>
                      <%= image_tag asset_path "dashboard-img.png" %>
                      </div>
                  <% end %>
            <% end %>
        <% end %>
      </div>

    </div>
    <!--due projects ends-->
    <div class="suggest-a-news" style="float: left; margin-top: 75px;" onclick="invite_user('<%= @project.id%>')">Invite
      User(s)
    </div>
  </div>

  <!--dashboard-info-image ends--><!--Left image portion ends-->


  <div class="dashboard-mid">
    <div class="result-contents-info">
      <h1><%= @project.name %></h1>

      <h3 style="margin-top:5px;"><%= @project.tag_line %></h3>
      <h4> <%= @project.city.name %> |<%= @project.created_at.strftime("%d %b. %Y") %>
        |<%= @project.category.name %></h4>
    </div>
    <!--result contents ends-->
    <div class="detail-info">
      <h1 style="margin-top:10px;">Description</h1>

      <div class="detail-bg">
        <div class="detail-left"></div>
        <div class="detail-mid">
          <p><%= @project.description %> </p>
        </div>
        <div class="detail-right"></div>
      </div>
      </br> </br></br>
      <h1 style="margin-top:10px;">Research</h1>

      <div class="detail-bg-img">
        <div class="detail-left-img"></div>
        <div class="detail-mid-img">
          <p><%= @project.research %></p>
        </div>
        <div class="detail-right-img"></div>
      </div>
      <!--detail info ends-->

    </div>
    <!--dashboard mid ends-->


  </div>
</div><!--dashboard right info ends-->


<div id="popup_holder"></div>

<script type="text/javascript">

    function invite_user(proj_id) {
    <%if user_signed_in?%>
        {
        url = "/projects/invite_users?id=" + proj_id;
        $.ajax({
            context:this,
            url:url,
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                $("#popup_holder").html(response.html);
            }
        });

        return false;
        }
      <%else%>
        {
            alert("You need to sign-in");
        }
    <%end%>

    }
</script>










































