<% if user_signed_in? && current_user.webmaster?%>
    <h2>Webmaster Sign in</h2>
<% else %>
    <h2> Sign-in with Admin Account</h2>
    <% @user = User.new %>
    <%= form_for(@user, :as => @user, :url => session_path(@user)) do |f| %>
        <div><%= f.label :email %>
          <br/>
          <%= f.email_field :email %></div>

        <div><%= f.label :password %>
          <br/>
          <%= f.password_field :password %></div>
        <div><%= f.submit "Sign in" %></div>
    <% end %>

<% end %>