<div class="dashboard-content-right">
  <div class="w100">
    <div class="dashboard-post-profile-btn">


    </div>
  </div>
  <!--dashboard-post-profile-btn ends-->
  <div class="dashboard-content">
    <h1>Events</h1>

    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <div class="btn-mid-holder"><%= link_to " Create New Event", new_event_job_seeker_index_path(:jid => @job_seeker), :class => "create-event", :style=>" color: #FFFFFF;text-decoration: none;" %></div>
    <p><br/>
    </p>

    <h1>My<span class="red"> Events</span></h1>
    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <% unless @job_seeker.events.blank? %>
        <p>Total Number of Events <%= @job_seeker.events.count %></p>
        <% @job_seeker.events.each do |event| %>
            <div class="event-image">
              <%#= image_tag  %>
              <label>Event Name</label> <%= event.name %>
              <br/>
              <label>Event Description</label> <%= event.description %>
              <br/>
              <label>Start Time</label> <%= event.time_of_start %>
              <br/>
              <label>End Time</label><%= event.time_of_end %>
              <br/><br/>
            </div>
        <% end %>
    <% end %>
  </div>
</div>


<script type="text/javascript">


    $("a.create-event").click(function() {
        $.ajax({
            context: this,
            url: $(this).attr("href"),
            type: "GET",
            data: $(this).serialize(),
            dataType: "json",
            success: function(response) {
                return $(".dashboard-content-right").html(response.html);
            }
        });
        return false;
    });


</script>