<div class="dashboard-content-right">
  <div class="w100">
    <div class="dashboard-post-profile-btn">
    </div>
  </div>
  <!--dashboard-post-profile-btn ends-->
  <div class="dashboard-content">
    <h1>Theses</h1>
    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <div class="btn-mid-holder_new"><%= link_to "Create New Theses", new_thesis_path(), :class => "create-event", :style=>" color: #FFFFFF;text-decoration: none;" %></div>
    <div class="btn-mid-holder"><%= link_to "View Theses", theses_path(), :style=>" color: #FFFFFF;text-decoration: none;" %></div>
    <p><br/>
    </p>

    <h1>My<span class="red"> Theses</span></h1>
    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <% unless @my_theses.blank? %>
        <p>Total Number of thesis <%= @my_theses.count %></p>
        <table>
          <tr>
            <th> Thesis Name</th>
            <th> Created at</th>
            <th> Actions</th>


          </tr>
          <% @my_theses.each do |thesis| %>
              <tr>
                <td><%= link_to thesis.name, thesis_details_theses_path(:id => thesis.id) %></td>
                <td><%= thesis.created_at.strftime('%Y-%m-%d') %></td>
                <td><%= link_to "Edit", edit_thesis_path(:id =>thesis.id) %></td>
                <td><%= link_to "Delete", delete_thesis_theses_path(:id => thesis.id, :own_id => @job_seeker), :class =>"delete_thesis" %>
              </tr>
          <% end %>
        </table>
    <% else %>
        <p><span>Currently No Thesis!</span></p>
    <% end %>
  </div>
</div>
<script type="text/javascript">
    $("a.delete_thesis").click(function() {
        var x = window.confirm("Are you sure You want to Delete this Thesis?")

        if (x == true) {
            $.ajax({
                context: this,
                url: $(this).attr("href"),
                type: "GET",
                data: $(this).serialize(),
                dataType: "json",
                success: function(response) {
                    return $(".dashboard-content-right").html(response.html);
                }

            });

            return false;
        }
        else {
            return false;
        }
    });

</script>