<div class="dashboard-content-right">
  <div class="w100">
    <div class="dashboard-post-profile-btn">
    </div>
  </div>
  <!--dashboard-post-profile-btn ends-->
  <div class="dashboard-content">
    <h1><%= t('Job_Seeker.resume') %></h1>
    <%= image_tag asset_path 'dashboard-botom-line.png' %>

    <div class="question-button" style="margin-bottom: 10px;  margin-right: 9px;" onclick="add_cv()"><%= t('Job_Seeker.upload_cv') %></div>
    <p><br/>
    </p>

    <h1><span class="red"> <%= t('Job_Seeker.resume') %></span></h1>
    <%= image_tag asset_path 'dashboard-botom-line.png' %>
    <% unless @resumes.blank? %>
        <p><%= t('Job_Seeker.total_resume') %> <%= @resumes.count %></p>
        <table>
          <tr>
            <th><%= t('name') %>e</th>
            <th><%= t('Job_Seeker.file_type') %></th>
            |
            <th> <%= t('Employer.employer_actions') %>|</th>
            <th> <%= t('Employer.employer_total_resume') %></th>
            <!--<th>Download</th>-->
          </tr>

          <% @resumes.each do |resume| %>
              <tr>
                <td><%= resume.photo_file_name %></td>
                <td><%= resume.photo_content_type %></td>
                <td><%= link_to "Delete", delete_cv_job_seeker_index_path(:id => resume.id), :class => "delete_cv" %></td>
                <td> <%= radio_button_tag "cv_id", resume.id, resume.is_publishable, :onchange => "select_cv('#{resume.id}')" %></td>

              </tr>
          <% end %>
        </table>
    <% else %>
        <p><span><%= t('Job_Seeker.no_resume') %>!</span></p>
    <% end %>
  </div>

</div>

<div id="popup_holder"></div>

<script language="JavaScript">

    function add_cv() {
    <%unless current_user.profile.blank?%>
        {
            <%if @resumes.count != 3%>{
                $.ajax({
                    context:this,
                    url:"/job_seeker/add_cv",
                    type:"GET",
                    data:$(this).serialize(),
                    dataType:"html",
                    success:function (response) {

                        $("#popup_holder").html(response);
                    }
                });
            }
        <%else%>
            {
                alert("You are allowed to upload three resumes");
            }
        <%end%>
        }
    <%else%>
        {
            alert("Please first create a profile!");
        }

    <%end%>
        return false;
    }

    $("a.delete_cv").click(function () {
        $.ajax({
            context:this,
            url:$(this).attr("href"),
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                return $(".dashboard-content-right").html(response.html);
            }
        });
        return false;
    });

    function select_cv(resume_id) {

        url = "/job_seeker/make_cv_publishable?id=" + resume_id;
        $.ajax({
            context:this,
            url:url,
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                $(".dashboard-content-right").html(response.html);
            }
        });
    }


</script>