<%= render :partial => "shared/top_search_ box" %>
<div class="content-holder">
  <h2>Change your password</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="sign-in-input-holder">
        <label> New Password</label>
        <%= f.password_field :password %>
        <p>Password should be at least 6 cherecters long</p>
      </div>
      <div class="sign-in-input-holder">
        <label>Confirm New Password</label>
        <%= f.password_field :password_confirmation %>
        <p>Re-enter password for avoiding typo mistakes</p>
      </div>


      <div class="save-button">
       <div class="reset"> <%= f.submit "Change my password" %> </div>
      </div>
  <% end %>
</div>
