<%= render :partial => "shared/top_search_ box" %>
<h2>Forgot your password?</h2>
<div class="content-holder">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="sign-in-input-holder">
      <label>Email</label>
      <%= f.email_field :email %>
    </div>
   <div class="save-button">
      <div class="reset"><%= f.submit "Send me reset password instructions" %></div>
    </div>
<% end %>
</div>
