<% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% @group.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<br/><br/>
<div class="field">
  <label> Group Type </label><br/>
  <%= f.text_field :group_type_id, :id => "job_group_type_id" %>
</div>
<br/><br/>

<div class="field">
  <label> Name </label><br/>
  <%= f.text_field :name %>
</div>
<br/><br/>
<div class="field">
  <label>Description</label><br/>
  <%= f.text_area :description %>
</div>
<br/><br/>
<%= fields_for :photo do |image| %>
    <%= image.file_field :image %>
<% end %>
<br/><br/>
<div class="field">
  <label> Mean Salary </label><br/>
  <%= f.text_field :mean_salary %>
</div>
<br/><br/>
<br/><br/>
<div class="field">
  <label> Rating </label><br/>
  <%= text_field_tag "rate", :rate %>
</div>
<br/><br/>
<div class="field">
  <label> Featured </label><br/>
  <%= f.radio_button 'featured', true %> <label> Yes</label><br/>
  <%= f.radio_button 'featured', false %> <label> No </label> <br/>
</div>
<div class="delete_result_page">
  <%= render :partial => "group_job_list", :locals => { :gid => @group.id } %>
</div>


