<h1>New Group</h1>
<div class="field">
  <label> Group Type </label><br/>
  <%= select_tag :group_type_id, options_from_collection_for_select(GroupType.all, "id", "name"), :onchange => "change_form('job_group', 'school_group')" %>
</div>

<div id="job_group">
  <%= form_for(@group, :url => { :action => "create" } , :html => {:multipart => true}) do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>

      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>
<div id="school_group" style="display: none">
  <%= form_for(@group, :url => { :action => "create_group_school" }, :html => {:multipart => true}) do |f| %>
      <%= render :partial => 'school_group', :locals => { :f => f } %>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>

<%= link_to 'Back', admin_groups_path %>


<script type="text/javascript">
    function change_form(shower, hider) {
        $("#job_group_type_id").val($("#group_type_id").val());
        $("#school_group_type_id").val($("#group_type_id").val());
        $("#" + shower).show();
        $("#" + hider).hide();
        if ($("#group_type_id").val() == 2) {
            $("#" + hider).show();
            $("#" + shower).hide();


        }


    }
    $(document).ready(function() {
        $("#job_group_type_id").val($("#group_type_id").val());

    });


</script>