<h1><%= @group.name %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Members</th>
    <th>Created At</th>
    <th> Set Manager</th>


  </tr>


  <tr>
    <td><%= @group.name %></td>
    <td><%= @group.users.count %></td>
    <td><%= @group.created_at.strftime('%m/%d/%Y') %></td>
    <%# if @group.users.count.nil? %>
    <td><%= link_to "Create Manager", new_manager_admin_groups_path(:id => @group) %></td>
    <%# end %>
  </tr>

</table>
