<%= javascript_include_tag "jquery-ui-1.8.17.custom.min", "jquery-ui-timepicker-addon" %>
<%= stylesheet_link_tag "jquery-ui-1.8.17.custom", "jquery.ui.datepicker" %>

<%= form_tag '/profiles/create_job_seeker_additional_information', :id =>"profile-form" do %>
    <div class="basic-info mtop10">
      <h1><span class="red">Make your Resume Searchable!</span></h1>
      <%= image_tag asset_path 'basic-info-bot-bar.png' %>
    </div>
    <div id="form-errors"></div>
    <%= hidden_field_tag :profile_id, @profile.id %>
    <%= hidden_field_tag 'counter', '0' %>
    <%= hidden_field_tag 'count', '0' %>

    <div class="w100">
      <div class="profile-left-div">
        <div class="new-profile-input mtop20">
          <label><%= t('profiles.Desire_job_title') %></label>
          <%= text_field_tag "job_title" %>

        </div>


        <div class="new-profile-input mtop20">
          <label><%= t('profiles.desired_job_contract') %></label>
          <%#= text_field_tag "education_info[degree_level]" %>
          <%= select_tag "desired_job_type", options_for_select([["Cdd", "Cdd"], ["Cdi", "Cdi"], ["Freelance", "Freelance"], ["Interim", "Interim"], ["Vie", "Vie"], ["Job Etudiant", "Job Etudiant"]]) %>
        </div>

        <div class="new-profile-input mtop20">
          <label><%= t('profiles.desired_job_status') %></label>
          <%#= text_field_tag "education_info[degree_level]" %>
          <%= select_tag "desired_job_status", options_for_select([["Full-Time", "Full-Time"], ["Part-Time", "Part-Time"], ["Per Diem", "Per Diem"]]) %>
        </div>

        <div id="abc">
          <div class="reg-location-holder" id="reg-location-holder" style="margin-top: 0!important;">
            <label>Location</label>

            <div id="countries_add">
              <%= render :partial => "shared/countries", :locals => { :object_collection => "add_info" } %>
            </div>
            <div id="regions_add">
              <%= render :partial => "shared/regions", :locals => { :object_collection => "add_info" } %>
            </div>

            <div id="cities_add">
              <%= render :partial => "shared/cities", :locals => { :object_collection => "add_info" } %>
            </div>

            <div class="add-button">
              <div class="add-education"> <%= image_tag asset_path 'plus.png' %></div>
            </div>

          </div>
        </div>

        <div id="sector">

          <div class="contratc_field_detail">

            <div class="fields_with_label">
              <label> Industry Sector</label>
              <%= select_tag "sector_ids[]", options_from_collection_for_select(Sector.all, "id", "value") %>

            <div class="add-button_three">
              <div class="add-education1" > <%= image_tag asset_path 'plus.png' %></div>
            </div>
             </div>
          </div>
        </div>


        <div class="new-profile-input mtop20">
          <label><%= t('profiles.work_authorization') %></label>

          <div class="big-select"><%= select_tag "work_authorization", options_for_select([["I am authorize to work in this country for any employer", "I am authorize to work in this country for any employer"], ["I am not authorize to work in this country for any employer", "I am not authorize to work in this country for any employer"]]) %></div>
        </div>

        <div class="salary-info mtop20" style="width:715px;">
          <label><%= t('profiles.desired_salary_range') %></label>
          <%= text_field_tag "salary_to" %>
          <p>to</p><%= text_field_tag "salary_from" %>
          <div class="money-type"><%= select_tag "currency", options_for_select([["Euro", "Euro"], ["Pkr", "pkr"]]) %></div>
          <div class="money-type1"><%= select_tag "salary_period", options_for_select([["Per year", "per year"], ["Per month", "per month"]]) %>   </div>
        </div>

        <div class="condition-left mtop20">
          <label><%= t('profiles.Are_you_willing_to_relocate ?') %></label>
          <%= radio_button_tag 'willing', true %> <p style="width:40px; float:left; color: #474747;"> Yes</p>
          <%= radio_button_tag 'willing', false %> <p style="width:40px; float:left; color: #474747;"> No </p>
        </div>

        <div class="new-profile-input mtop20">
          <label><%= t('profiles.Are_you_willing_to_travel ?') %></label>
          <%#= text_field_tag "education_info[degree_level]" %>

          <div class="big-select"><%= select_tag "willing_to_travel", options_for_select([["Up to 25% travel", "Up to 25% travel"], ["Up to 50% travel", "Up to 50% travel"], ["Up to 75% travel", "Up to 75% travel"], ["Up to 100% travel", "Up to 100% travel"]]) %> </div>

        </div>

        <div class="new-profile-input mtop20">
          <label><%= t('profiles.When_are_you _available_to_start ?') %></label>

          <div class="radio-label-two" id="disable">
            <%= radio_button_tag 'date_of_start', true, nil, :onclick =>"disable('disable')" %>
            <label>Immediate</label>
          </div>

          <div class="radio-label-two" id="enable">
            <%= radio_button_tag 'date_of_start', false, nil, :onclick =>"disable('enable')" %>
            <label> Or on this date</label>
          </div>
          <div class="date-box" id="date-box">
            <%= text_field_tag "date_of_start_text", nil, :class =>"date-pick", :id => "Date-Box" %>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="save-button-new"><%#= button_to "Skip It", "javascript:void(0);" %></div>-->
    <div class="save-button-new"><%= button_to "Save", "javascript:void(0);", :id => "next-link" %></div>
<% end %>
<% select_1 = "#{select_tag "sector_ids[]", options_from_collection_for_select(Sector.all, "id", "value")}" %>
<% select_1 = select_1.gsub(/(\r\n|\n|\r)/, "") %>

<script type="text/javascript">

    $(document).ready(function() {
        $('.date-pick').datepicker({dateFormat: 'yy-mm-dd'});
    });

    function disable(type) {

        if (type == 'disable') {

            $("#date-box").hide();

        }
        else if (type == 'enable') {

            $("#date-box").show();
        }

    }
    var counter = 1;
    var counts = 1;
    $('.add-education').click(function () {
        if (counts < 5) {
            var scntDiv = $('#abc');
            var counter = parseInt($('#counter').attr('value'));
            counter = counter + 1;
            $('#counter').attr('value', counter);
            var txt_field = '<div id=new_div_' + counter + '><div class="reg-location-holder" id="reg-location-holder" style="margin-top: 0!important;"> <label>Location</label><div id=countries_add_' + counter + ' > <%=escape_javascript( render :partial => "shared/countries", :locals => { :object_collection => "add_info1" }) %></div><div id=regions_add_' + counter + ' ><%=escape_javascript( render :partial => "shared/regions", :locals => { :object_collection => "add_info1" }) %></div> <div id=cities_add_' + counter + '><%=escape_javascript( render :partial => "shared/cities", :locals => { :object_collection => "add_info1" }) %></div><div class=add-button style="margin-top: 30px;"><a href="javascript:" onclick="remove_education_field(counter)"><img src="/assets/minus.png" /></a></div></div></div>';
            scntDiv.append(txt_field);
            $('#countries_add_' + counter).find('.slt-div').attr('id', 'add_info_country_id_' + counter).attr('name', 'add_info[country_id_' + counter + ']');
            $('#regions_add_' + counter).find('.slt-div').attr('id', 'add_info_region_id' + counter).attr('name', 'add_info[region_id' + counter + ']');
            $('#cities_add_' + counter).find('.slt-sub-div').attr('id', 'add_info_city_id' + counter).attr('name', 'add_info[city_id' + counter + ']');
        }
        counts = counts + 1;
    });

    function remove_education_field(obj) {
        var field = $('#new_div_' + obj)
        var counter = parseInt($('#counter').attr('value'));
        var count_toatl = parseInt($('#counter').attr('value'));
        counter = counter - 1;
        $('#counter').attr('value', counter);
        field.remove();
    }
    var count = 1;
    var check=1;
    $('.add-education1').click(function () {
        if (check < 5) {
        var scntDiv = $('#sector');
        var count = parseInt($('#count').attr('value'));
        count = count + 1;
        $('#count').attr('value', count);
        var txt_field = '<div id=main_div_' + count + '><div class="contratc_field_detail" ><div class="fields_with_label"><label> Industry Sector</label><%= raw(select_1)%><div class=add-button_three "><a href="javascript:" onclick="remove_sector_field(count)"><img src="/assets/minus.png" /></a></div></div></div></div>';
        scntDiv.append(txt_field);
         }
        check= check + 1;
    });
    function remove_sector_field(obj) {
        var field = $('#main_div_' + obj)
        var count = parseInt($('#count').attr('value'));
        var count_toatl = parseInt($('#count').attr('value'));
        count = count - 1;
        $('#count').attr('value', count);
        field.remove();
    }

    $(".tabs").each(function() {
        $(this).removeClass("active");
    });

    $("#additional_information").addClass("active");


</script>