<% if @education_informations.present? %>
    <div class="info-container">
      <% @education_informations.each do |info| %>
          <div class="info-box">
            <div class="info-detail">
              <label><%= t('profile_degree_level') %></label>

              <div class="value"><%= info.degree_level %></div>
            </div>

            <div class="info-detail">
              <label><%= t('profile_major_subject') %> </label>

              <div class="value"><%= info.major_subject %></div>
            </div>

            <div class="info-detail">

              <% unless info.institute.blank? %>
                  <label><%= t('profile_institute') %> </label>

                  <div class="value"><%= info.institute.name %></div>
              <% end %>
            </div>
            <div class="info-detail">
              <% unless info.institute_name.blank? %>
                  <label><%= t('profile_institute') %> </label>

                  <div class="value"><%= info.institute_name %></div>
              <% end %>
            </div>

            <div class="info-detail">
              <label><%= t('profile_date_of_start') %> </label>
              <% unless info.start_date.blank? %>
                  <div class="value"><%= info.start_date.strftime("%b. %Y") %></div>
              <% end %>
            </div>
            <div class="info-detail">
              <label><%= t('profile_date_of_start') %> </label>
              <% unless info.end_date.blank? %>
                  <div class="value"><%= info.end_date.strftime("%b. %Y") %></div>
              <% end %>
            </div>


            <div class="save-button-new">
              <%= link_to t('remove'), remove_edu_info_profiles_path(:profile_id => @profile.id, :id => info.id), :class => "remove-edu" %>
            </div>

          </div>
      <% end %>
    </div>
<% end %>
<script type="text/javascript">

    $(".remove-edu").click(function () {
        $.ajax({
            context:$(this),
            url:$(this).attr('href'),
            type:'GET',
            dataType:'json',
            success:function (response) {
                $("#education_informations").html(response.html);
            }
        });
        return false;
    });

</script>