<%= javascript_include_tag "jquery-ui-1.8.17.custom.min" %>
<%= stylesheet_link_tag "jquery-ui-1.8.17.custom" %>

<%= form_tag '/profiles/create_job_seeker_professional_experience', :id => "profile-form" do |f| %>
    <div class="basic-info mtop10">
      <h1><%= t('profession') %><span class="red"> <%= t('experience') %></span></h1>
      <%= image_tag asset_path 'basic-info-bot-bar.png' %>
    </div>
    <div id="professional_informations">
      <%= render :partial => "/profiles/job_seeker/professional_informations" %>
    </div>
    <div id="form-errors"></div>
    <%= hidden_field_tag :profile_id, @profile.id %>

    <div class="w100">
      <div class="profile-left-div">

        <div class="profile-input mtop20">
          <label> <%= t('profile_industry') %></label>
          <%= select_tag "prof_info[sector_id]", options_from_collection_for_select(Sector.all, "id", "value") %>
        </div>

        <div class="profile-input mtop20">
          <label><%= t('category') %> </label>
          <%= select_tag "prof_info[category_id]", options_from_collection_for_select(Category.all, "id", "name"), :class => "reg-slt-div-new" %>

        </div>
        <div class="profile-input mtop20">
          <label><%= t('profile_job_title') %></label>
          <%= text_field_tag "prof_info[job_title]",'',:class=>'validate[required]' %>
        </div>

        <div class="profile-input mtop20">
          <label><%= t('start_date') %></label>

          <div class="date-box" id="date-box">
            <%= date_select("prof_info", "start_date", :start_year => 1975, :use_month_numbers => true, :discard_day => true, :order => [:month, :year]) %>
          </div>
        </div>


        <div class="publication-line">
          <%= check_box_tag 'email' %>
          <p><%= t('profile_currently_employed') %></p>

          <div class="profile-input mtop20" id="date-box12">
            <label><%= t('end_date') %></label>

            <div class="date-box" id="date-box1">
              <%= date_select("prof_info", "end_date", :start_year => 1975, :use_month_numbers => true, :discard_day => true, :order => [:month, :year]) %>
            </div>
          </div>
        </div>


      </div>
      <div class="profile-right-div">
        <div class="profile-input mtop20">
          <label><%= t('profile_experience') %></label>
          <%= select_tag "prof_info[profession_experience]", options_for_select([["Etudiant", "Etudiant"], ["Jeune Diplômé", "Jeune Diplômé"], ["Junior", "Junior"], ["Confirmé/Senior", "Confirmé/Senior"], [" Responsable d'équipe", "Responsable d'équipe"], ["Responsable de Département", "Responsable de Département"], ["Dirigeant/Entrepreneur", "Dirigeant/Entrepreneur"]]) %>
        </div>

        <div class="profile-input mtop20">
          <label><%= t('profile_company_nam') %></label>
          <%= text_field_tag "prof_info[company_name]",'',:class=>'validate[required]' %>

        </div>
      </div>
    </div>
    <div class="add-button-new"><%= link_to t('profile_add_more_profession'), "javascript:void(0);", :id => "next-link" %></div>


    <div class="save-button-new"><%= button_to t('save_and_next'), "javascript:void(0);", :id => "save-next-link" %></div>
    <div class="save-button-new" onclick="skip_to('<%= @profile.id%>', 'profession_information')"><%= button_to t('skip_and_next'), "javascript:void(0);", :id => "skip-to-next-link" %></div>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $("form").validationEngine('detach');
        $("form").validationEngine('attach');
    });

    $(".tabs").each(function () {
        $(this).removeClass("active");
    });

    $("#professional_experience").addClass("active");

    $("#next-link").click(function () {
        $.post($("form#profile-form").attr("action"), $("form#profile-form").serialize(), function (response) {
            if (response.seccess == true) {
                $("#profile-contents").html(response.html);
            }
            else {
                $("#form-errors").html(response.html);
            }
        }, "json");
        return false;
    });

    $("#save-next-link").click(function () {
        $.post("/profiles/create_job_seeker_professional_experience_next?skip=true", $("form#profile-form").serialize(), function (response) {
            if( ! $('form').validationEngine('validate') ){
                return false;
            }

            if (response.seccess == true) {
                $("#profile-contents").html(response.html);
            }
            else {
                $("#form-errors").html(response.html);
            }
        }, "json");
        return false;
    });


    $('#email').click(function () {

        if ($('#email').is(':checked') == true) {

            $('#date-box12').hide();
        }
        else {
            $('#date-box12').show();
        }
    });

    function skip_to(profile_id, obj) {
        url = "/profiles/skip_action?id=" + profile_id + "&obj=" + obj;
        $.ajax({
            context:this,
            url:url,
            type:"GET",
            data:$(this).serialize(),
            dataType:"json",
            success:function (response) {
                $("#profile-contents").html(response.html);
            }
        });
        return false;

    }

</script>