<div id="basic_information" class="tabs active">
  <div class="tabs_left"></div>
  <div class="tabs_center" id="basic"><p><%= t('profile_basic_information') %></p></div>
  <div class="tabs_right"></div>
</div>
<div id="education_details" class="tabs">
  <div class="tabs_left"></div>
  <div class="tabs_center" id="education"><p><%= t('profile_edu_information') %></p></div>
  <div class="tabs_right"></div>
</div>
<div id="professional_experience" class="tabs">
  <div class="tabs_left"></div>
  <div class="tabs_center" id="professional"><p><%= t('profile_profession_information') %></p></div>
  <div class="tabs_right"></div>
</div>
<div id="additional_information" class="tabs">
  <div class="tabs_left"></div>
  <div class="tabs_center" id="additional"><p><%= t('profile_search_resume') %> </p></div>
  <div class="tabs_right"></div>
</div>

<script type="text/javascript">
    $('.tabs_center').click(function () {
        var elem = $(this).attr('id');
     //            url ="/profiles/move_to_action?id=" + <#%@profile.id%> + "&obj=" + elem ;
            $.ajax({
                context:this,
                url:"/profiles/move_to_action?id=" + <%=@profile.id%> + "&obj=" + elem,
                type:"GET",
                data:$(this).serialize(),
                dataType:"json",
                success:function (response) {
                    $("#profile-contents").html(response.html);
                }
            });
            return false;



    });

</script>