<!DOCTYPE html>
<html>
<head>
  <title>FuturCadre</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? && current_user.webmaster?%>
    <!--<div id="flash">-->
    <%= link_to "Home", dashboard_admin_home_index_path %> |
    <%= link_to "Categories", admin_categories_path %> |
    <%= link_to "Translate", "/translate" %> |
    <%= link_to "Groups", admin_groups_path %> |
    <%= link_to "News", admin_news_index_path %>|
    <%= link_to "Packages", admin_packages_path %>|
    <%= link_to "Logout", sign_out_path %>
    <%= render :partial => 'layouts/flash', :object => flash %>
    <!--</div>-->
    <%= yield %>
    <% if params[:controller]!="home" %>
        <div id="back_link" class="back_link"><%= link_to 'Back', :back %></div>
    <% end %>
<% else %>
    <% @user = User.new %>
    <%= form_for(@user, :as => @user, :url => session_path(@user)) do |f| %>
        <div><%= f.label :email %>
          <br/>
          <%= f.email_field :email %></div>

        <div><%= f.label :password %>
          <br/>
          <%= f.password_field :password %></div>
        <div><%= f.submit "Sign in" %></div>
    <% end %>
<% end %>

</body>
</html>
