<!DOCTYPE html>
<html>
  <head>
    <title>FuturCadre</title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" language="JavaScript"></script>
		<%= csrf_meta_tags %>
  </head>
  <body>
		<div class="topline"></div>
    <div class="wrapper">
		  <%= render :partial => "/shared/header" %>
			<div id="flash">
				<%= render :partial => 'layouts/flash', :object => flash  %>
			</div>
			<%= yield %>
    </div>

		<%= render :partial => "/shared/footer" %>
  </body>
</html>
