<div id="reg_div">
  <div class="basic-info">
    <h1><span class="red"> <%= t('account') %></span> <%= t('information') %> </h1>
    <%= image_tag asset_path 'basic-info-bot-bar.png' %>
  </div>
  <%= form_for(resource, :url => registration_path(resource), :html => { :id => "sign-up-form" }) do |f| %>

      <%= devise_error_messages! %>

      <div class="sign-in-input-holder mtop60">
        <label><%= t('users.user_name') %> </label>
        <%= f.text_field :name %>
        <!--<div id="check_user_name"></div>-->

      </div>
      <div class="sign-in-input-holder">
        <label>Email</label>
        <%= f.email_field :email %>
        <p><%= t('email') %></p>
      </div>
      <div class="sign-in-input-holder">
        <label><%= t('users.password') %></label>
        <%= f.password_field :password %>
        <p><%= t('password_helper') %></p>
      </div>
      <div class="sign-in-input-holder">
        <label><%= t('users.conf_password') %></label>
        <%= f.password_field :password_confirmation %>
        <p><%= t('conf_password_helper') %></p>
      </div>

      <div class="reg-left-holder">
        <%= show_simple_captcha %>
      </div>

      <div class="reg-right-holder">
        <div class="checkbox">
          <%= check_box_tag 'terms', 'yes' %>
          <label><%= t('privacy_policay') %></label>
        </div>
        <%= hidden_field_tag :role_id, @role.id %>

      </div>
  <% end %>

</div>